.home{
	.video-wrap{
		background: $white;
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		&.show{
			display: block;
		}
		.btn-video-wrap-close{
			position: absolute;
			top: 0;
			right: 0;
			height: 30px;
			width: 30px;
			cursor: pointer;
			background: $white;
			z-index: 5;
		}
		.video-handler{
			flex: 1;
			position: relative;
			overflow: hidden;
			max-width: 100%;
			height: 100%;
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.heading-block{
		min-height: 575px;
		position: relative;
		.row{
			padding-top: 86px;
			padding-bottom: 123px;
		}
		.h1-box{
			margin-bottom: 49px;
			position: relative;
			h1{
				color: $white;
				font-family: $gilroyExtraBold;
				font-size: 54px;
				line-height: 62px;
				margin: 0;
				z-index: 2;
			}
			.h1-shadow{
				z-index: 1;
				position: absolute;
				bottom: 0;
				left: 0;
				background: rgba(255, 255, 255, 0.25);
				height: 26px;
				width: 466px;
			}
		}
		p{
			font-size: 18px;
			line-height: 30px;
			color: $white;
			font-family: $gilroy;
			max-width: 428px;
		}
		.trailer-mobile{
			display: none;
		}
		.trailer-desktop{
			display: flex;
			position: relative;
			justify-content: flex-end;
			top: 25px;
			figure{
				width: 196px;
				height: 125px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				cursor: pointer;
				svg{
					height: 36px;
					width: 35px;
				}
			}
			.text{
				color: $white;
				font-size: 14px;
				font-family: $gilroy;
				line-height: 21px;
				display: flex;
				margin-left: 25px;
				span{
					margin-right: 19px;
				}
			}
		}
	}
	.block-course-list{
		padding: 60px 0 40px;
		h2{
			color: $black;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 41px;
		}
		.bcl-row{
			display: flex;
			flex-wrap: wrap;
			.bcl-item{
				display: flex;
				align-items: center;
				background: #EEF4FB;
				border-radius: 4px;
				text-decoration: none !important;
				height: 84px;
				padding: 0 30px;
				position: relative;
				margin-bottom: 20px;
				width: calc(50% - (15px/2));
				&:nth-of-type(odd){
					margin-right: 15px;
				}
				figure{
					height: 35px;
					width: 35px;
					margin: 0 40px 0 0;
					svg, img{
						max-height: 100%;
						max-width: 100%;
					}
				}
				p{
					margin: 0;
					font-family: $gilroyBold;
					font-size: 24px;
					line-height: 64px;
					color: $black;
				}
				.bcl-arrow{
					position: absolute;
					transform: translateY(-50%);
					top: 50%;
					right: 30px;
					width: 37px;
					height: 37px;
				}
				&:hover{
					background: linear-gradient(155.39deg, #FF96C4 8.22%, #6CA9FF 105.12%);
					figure{
						svg{
							path{
								fill: $white;
							}
						}
					}
					p{
						color: $white;
					}
					.bcl-arrow{
						path{
							fill: $white;
						}
					}
				}
			}
		}
	}
	.block-why{
		padding-bottom: 80px;
		h2{
			color: #353B44;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 73px;
		}
		.why-more{
			display: none;
		}
		.why-item{
			position: relative;
			outline: none !important;
			box-shadow: none!important;
			border: none !important;
			&.slick-active{
				&:before{
					content: '';
					position: absolute;
					top: 65px;
					right: 35px;
					height: 4px;
					width: 228px;
					background: url("../img/Line2.png") no-repeat center / contain
				}
				&:last-of-type{
					&:before{
						display: none;
					}
				}
			}
			.wi-img{
				height: 150px;
				width: 150px;
				margin: 0 0 26px 0;
				display: flex;
				align-items: center;
				justify-content: center;
				figure{
					margin: 0;
					position: relative;
					height: 131px;
					width: 131px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					overflow: hidden;
				}
				.num{
					font-size: 60px;
					line-height: 64px;
					color: #A9BAFF;
					font-family: $gilroyExtraBold;
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
				}
			}
			.title{
				font-size: 24px;
				line-height: 27px;
				color: #353B44;
				font-family: $gilroyBold;
				margin-bottom: 24px;
			}
			.text{
				font-size: 18px;
				line-height: 27px;
				margin: 0;
				color: rgba(53, 59, 68, 0.78);
				font-family: $gilroy;
				max-width: 309px;
			}
		}
		.why-slider{
			position: relative;
			.slick-prev{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -122px;
				right: 63px;
			}
			.slick-next{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -122px;
				right: 0;
			}
			.slick-prev, .slick-next{
				&.slick-disabled{
					opacity: .27;
				}
			}
		}
	}
	.block-course-coming{
		padding-bottom: 80px;
		overflow: hidden;
		.container{
			position: relative;
			.row{
				width: 100vw;
				.slick-list{
					padding-left: 5px;
				}
				.col-md-4{
					margin-top: 5px;
					margin-bottom: 5px;
					padding-top: 15px;
					padding-bottom: 15px;
					outline: none !important;
					box-shadow: none;
					border: none !important;
					text-decoration: none!important;
					transition: 0.3s;
					&:hover{
						transition: 0.3s;
						box-shadow: 0 0 5px 0px rgba(0,0,0,.25);
					}
				}
			}
		}
		h2{
			color: $black;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 60px;
		}
		figure{
			height: 286px;
			width: 100%;
			margin: 0 0 16px;
			border-radius: 4px;
		}
		.time{
			font-size: 16px;
			line-height: 27px;
			font-family: $gilroyMedium;
			color: #3E4349;
			margin-bottom: 12px;
		}
		.title{
			font-size: 22px;
			line-height: 29px;
			font-family: $gilroyBold;
			margin-bottom: 10px;
			color: #3D444B;
		}
		.text{
			font-size: 16px;
			line-height: 24px;
			font-family: $gilroy;
			color: #3E4349;
			margin: 0;
		}
		.course-more{
			position: absolute;
			top: 27px;
			right: 15px;
			display: flex;
			align-items: center;
			font-family: $gilroyBold;
			font-size: 16px;
			line-height: 19px;
			color: #73A7F0;
			text-decoration: none !important;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
			}
		}
	}


}

@media only screen and (max-width: 1245px){
	.home{
		.heading-block{
			.h1-box{
				h1{
					font-size: 51px;
				}
				.h1-shadow{
					width: 444px;
				}
			}
		}
		.block-why{
			.why-item{
				&.slick-active{
					&:before{
						background-size: cover!important;
						width: 135px;
					}
				}
			}
		}
		.block-course-coming{
			figure{
				height: 200px;
			}
			.container{
				.row{
					width: 120vw;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.home{
		.heading-block{
			.h1-box{
				h1{
					font-size: 40px;
					width: 354px;
				}
				.h1-shadow{
					width: 348px;
				}
			}
		}
		.block-course-list{
			.bcl-row{
				.bcl-item{
					height: 56px;
					figure{
						height: 22px;
						width: 22px;
						margin-right: 23px;
					}
					p{
						font-size: 18px;
						line-height: 27px;
					}
					.bcl-arrow{
						height: 23px;
						width: 23px;
						right: 20px;
					}
				}
			}
		}
		.block-why{
			.why-item{
				.wi-img{
					height: 85px;
					width: 85px;
					align-items: flex-end;
					figure{
						height: 70px;
						width: 70px;
						img{
							max-height: 100%;
							max-width: 100%;
						}
					}
					.num{
						font-size: 40px;
						line-height: 64px;
					}
				}
				.title{
					font-size: 20px;
					line-height: 27px;
				}
				.text{
					font-size: 16px;
					line-height: 24px;
					max-width: 280px;
				}
			}
		}
		.block-course-coming{
			figure{
				height: 160px;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.home{
		.heading-block{
			background-position-x: 49%!important;
			.row{
				padding-top: 54px;
				padding-bottom: 187px;
			}
			.h1-box{
				margin-bottom: 29px;
				h1{
					font-size: 32px;
					line-height: 39px;
					width: 280px;
				}
				.h1-shadow{
					width: 279px;
				}
			}
			p{
				margin-bottom: 31px;
				font-size: 14px;
				line-height: 21px;
				max-width: 263px;
			}
			.trailer-desktop{
				display: none;
			}
			.trailer-mobile{
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 16px 0;
				background: $white;
				border-radius: 100px;
				width: 223px;
				color: #C39EDC;
				svg{
					height: 14px;
					width: 14px;
					margin-right: 9px;
				}
			}
		}
		.block-course-list{
			padding: 64px 0 92px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 32px;
			}
			.bcl-row{
				.bcl-item{
					width: 100%;
					margin-bottom: 14px;
					&:nth-of-type(odd){
						margin-right: 0;
					}
				}
			}
		}
		.block-why{
			padding-bottom: 96px;
			&.active{
				.why-more{
					display: none;
				}
				.why-item{
					display: flex;
					&:nth-of-type(3){
						.wi-img{
							&:before{
								display: block;
							}
						}
					}
				}
			}
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 37px;
			}
			.why-more{
				display: flex;
				align-items: center;
				justify-content: center;
				color: #73A7F0;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				font-family: $gilroyMedium;
				font-size: 16px;
				line-height: 19px;
				margin-top: -20px;
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
				svg{
					height: 14px;
					width: 14px;
					margin-left: 12px;
				}
			}
			.why-item{
				margin-bottom: 63px;
				display: none;
				&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
					display: flex;
				}
				&:nth-of-type(3){
					.wi-img{
						&:before{
							display: none;
						}
					}
				}
				&:last-of-type{
					margin-bottom: 0;
					.wi-img{
						&:before{
							display: none;
						}
					}
				}
				.wi-img{
					margin-right: 11px;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						bottom: -45px;
						left: -38px;
						height: 3px;
						width: 100px;
						background: url("../img/Line2.png") no-repeat center / cover;
						transform: rotate(90deg);
					}
				}
				.title{
					margin-bottom: 10px;
				}
			}
		}
		.block-course-coming{
			padding-bottom: 84px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 40px;
			}
			figure{
				height: 200px;
				margin-bottom: 11px;
			}
			.time{
				font-size: 14px;
				line-height: 27px;
				margin-bottom: 2px;
			}
			.title{
				font-size: 18px;
				line-height: 29px;
				margin-bottom: 2px;
			}
			.text{
				font-size: 14px;
				line-height: 21px;
			}
			.course-more{
				position: relative;
				top: 0;
				right: 0;
				margin-top: 40px;
			}
			.container{
				.row{
					width: 180vw;
				}
			}
		}


	}
}