.page-template-courses{
	overflow-x: hidden;
	h1{
		font-family: $gilroyExtraBold;
		font-size: 52px;
		line-height: 64px;
		color: $black;
		margin-top: 55px;
		margin-bottom: 32px;
	}
	.courses-filter{
		display: flex;
		align-items: center;
		margin-bottom: 36px;
		.courses-search{
			display: flex;
			align-items: center;
			background: #F1F3F5;
			border-radius: 100px;
			height: 48px;
			width: 393px;
			padding: 0 34px;
			input{
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
				background: none !important;
				font-size: 16px;
				line-height: 19px;
				color: #757F8A;
				flex: 1;
			}
			svg{
				width: 19px;
				height: 19px;
				cursor: pointer;
			}
		}
		.courses-select{
			margin-left: 41px;
			display: flex;
			align-items: center;
			label{
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroy;
				color: #757F8A;
				margin-bottom: 0;
				margin-right: 7px;
			}
			select{
				box-shadow: none !important;
				outline: none !important;
				border: none !important;
				background: none !important;
				color: $black;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
			}
			.ui-selectmenu-button{
				box-shadow: none !important;
				outline: none !important;
				border: none !important;
				background: none !important;
				color: $black;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
				padding-left: 10px;
				&.ui-button{
					width: auto !important;
				}
				.ui-selectmenu-icon{
					position: relative;
					&:before{
						content: '';
						top: 65%;
						left: 50%;
						transform: translate(-50%,-50%);
						position: absolute;
						background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath d='M5.505 5.995a.7.7 0 00.99 0L10.95 1.54a.7.7 0 10-.99-.99L6 4.51 2.04.55a.7.7 0 00-.99.99l4.455 4.455zM5.3 5v.5h1.4V5H5.3z' fill='%2343484E'/%3E%3C/svg%3E");
						width: 12px;
						height: 7px;
					}
				}
			}
		}
	}
	.courses-category{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 67px;
		.courses-category-item{
			font-size: 16px;
			line-height: 19px;
			color: #757F8A;
			margin-right: 40px;
			border-bottom: dashed 1px #757F8A;
			margin-bottom: 23px;
			cursor: pointer;
			text-decoration: none !important;
			&.active{
				color: #73A7F0;
				border-bottom: none;
			}
		}
		&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
			display: none;
		}
	}
	.courses-list{
		.courses-more{
			display: flex;
			align-items: center;
			font-family: $gilroyBold;
			justify-content: center;
			font-size: 16px;
			line-height: 19px;
			color: #73A7F0;
			text-decoration: none !important;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			margin-top: 72px;
			cursor: pointer;
			svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
				transform: rotate(90deg);
			}
		}
		hr{
			margin-bottom: 0;
			margin-top: 44px;
			border-top: 1px solid #CEDAE6;
		}
		.courses-item{
			margin-bottom: 60px;
			display: none;
			&.show{
				display: flex;
			}
			figure{
				margin: 0;
				display: block;
				position: relative;
				width: 365px;
				height: 283px;
				margin-right: 29px;
				.star-wrap{
					height: 68px;
					width: 68px;
					background: #AFCD5F;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					font-size: 16px;
					line-height: 19px;
					color: $white;
					font-family: $gilroyBold;
					position: absolute;
					top: 20px;
					left: 20px;
					svg{
						height: 16.8px;
						width: 16.77px;
						fill: $white;
						display: block;
						margin: 0 auto 5px;
					}
				}
				.queue-left{
					padding: 5px 10px;
					background: #66C3D0;
					border-radius: 4px;
					font-size: 12px;
					line-height: 27px;
					color: $white;
					font-family: $gilroyBold;
					display: inline-block;
					position: absolute;
					bottom: 39px;
					right: -10px;
				}
			}
			.courses-item-content{
				flex: 1;
				.cic-cfg{
					display: flex;
					justify-content: space-between;
					width: 100%;
					margin-bottom: 24px;
					.cic-cfg-item{
						display: flex;
						align-items: center;
						font-size: 16px;
						line-height: 27px;
						color: #919DAA;
						svg{
							margin-right: 8px;
						}
					}
				}
				.cic-row{
					display: flex;
					justify-content: space-between;
					.cic-text{
						.cic-title{
							font-size: 28px;
							line-height: 29px;
							color: $black;
							font-family: $gilroyBold;
							margin-bottom: 23px;
						}
						ul{
							list-style: none;
							width: 370px;
							margin-bottom: 0;
							li{
								position: relative;
								font-size: 16px;
								line-height: 24px;
								color: #50575F;
								font-family: $gilroy;
								padding-left: 26px;
								margin-bottom: 14px;
								&:last-of-type{
									margin-bottom: 0;
								}
								&:before{
									background: #73A7F0;
									height: 8px;
									width: 8px;
									position: absolute;
									top: 8px;
									left: 0;
									content: '';
									border-radius: 50%;
								}
							}
						}
					}
					.cic-btns{
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 249px;
						.btn-cic-sign{
							background: #F579D3;
							border-radius: 100px;
							outline: none !important;
							box-shadow: none !important;
							border: none !important;
							height: 48px;
							width: 249px;
							display: flex;
							align-items: center;
							justify-content: center;
							cursor: pointer;
							color: $white;
							font-family: $gilroy;
							font-size: 16px;
							line-height: 19px;
							margin-bottom: 24px;
							transition: 0.3s;
							text-decoration: none!important;
							&:hover{
								background: #f3afd4;
								transition: 0.3s;
							}
						}
						.cic-timetable{
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 16px;
							line-height: 19px;
							letter-spacing: 0.01em;
							text-transform: uppercase;
							color: #73A7F0;
							font-family: $gilroyBold;
							text-decoration: none !important;
							margin-bottom: auto;
							svg{
								margin-left: 10px;
								height: 19px;
								width: 19px;
							}
						}
						.cic-location{
							display: inline-block;
							padding: 8px 25px;
							background: rgba(142, 184, 243, 0.1);
							border-radius: 100px;
							font-size: 13px;
							line-height: 15px;
							font-family: $gilroyMedium;
							margin: 0;
							color: #73A7F0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.page-template-courses{
		.courses-filter{
			flex-direction: column;
			align-items: flex-start;
			.courses-select{
				margin-left: 0;
				margin-top: 15px;
			}
		}
		.courses-list{
			.courses-item{
				.courses-item-content{
					.cic-cfg{
						.cic-cfg-item{
							&:nth-of-type(2), &:nth-of-type(4){
								display: none;
							}
						}
					}
					.cic-row{
						flex-direction: column;
						.cic-btns{
							width: 100%;
							flex-direction: row-reverse;
							justify-content: space-between;
							margin-top: 24px;
							.btn-cic-sign{
								display: none;
							}
							.cic-timetable{
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-courses{
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		.courses-filter{
			.courses-search{
				width: 100%;
			}
		}
		.courses-category{
			margin-bottom: 36px;
			flex-wrap: nowrap;
			width: 100%;
			overflow-x: scroll;
			.courses-category-item{
				margin-right: 20px;
				white-space: nowrap;
				margin-bottom: 0;
			}
		}
		.courses-list{
			.courses-more{
				margin-top: 0;
			}
			.courses-item{
				flex-direction: column;
				figure{
					height: auto;
					width: 100%;
					margin-bottom: 10px;
					&:after{
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}
				.courses-item-content{
					.cic-cfg{
						margin-bottom: 13px;
					}
					.cic-row{
						.cic-text{
							width: 100%;
							.cic-title{
								font-size: 24px;
								line-height: 29px;
							}
							ul{
								width: 100%;
								margin-bottom: 24px;
								li{
									font-size: 16px;
									line-height: 24px;
									margin-bottom: 14px;
								}
							}
						}
						.cic-btns{
							width: 100%;
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}