.page-template-reviews{
	h1{
		font-size: 52px;
		line-height: 64px;
		font-family: $gilroyExtraBold;
		margin-bottom: 32px;
		color: $black;
	}
	.btn-add-review{
		background: #F579D3;
		border-radius: 100px;
		outline: none!important;
		box-shadow: none!important;
		border: none!important;
		text-decoration: none!important;
		cursor: pointer;
		color: $white;
		font-family: $gilroy;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 67px;
		width: 223px;
		padding: 15px 0;
		text-align: center;
		transition: 0.3s;
		&:hover{
			background: #f3afd4;
			transition: 0.3s;
		}
	}
	.row{
		.col-12{
			margin-bottom: 35px;
		}
	}
	.cr-item{
		display: flex;
		padding: 46px 43px 45px 27px;
		background: #F6F9FC;
		height: 100%;
		figure{
			width: 53px;
			height: 53px;
			display: block;
			margin: 0 23px 0 0;
			border-radius: 50%;
			overflow: hidden;
		}
		.cr-content{
			flex: 1;
			position: relative;
			.cr-rating{
				right: 0;
				top: 5px;
				display: flex;
				align-items: center;
				position: absolute;
				svg{
					height: 20px;
					width: auto;
					margin-right: 2px;
					fill: #E4EBF2;
					&:last-of-type{
						margin-right: 0;
					}
				}
				&.cr-rating-1{
					svg{
						&:nth-of-type(1){
							fill: #A6C8F9;
						}
					}
				}
				&.cr-rating-2{
					svg{
						&:nth-of-type(1), &:nth-of-type(2){
							fill: #A6C8F9;
						}
					}
				}
				&.cr-rating-3{
					svg{
						fill: #A6C8F9;
						&:nth-of-type(4), &:nth-of-type(5){
							fill: #E4EBF2;
						}
					}
				}
				&.cr-rating-4{
					svg{
						fill: #A6C8F9;
						&:nth-of-type(5){
							fill: #E4EBF2;
						}
					}
				}
				&.cr-rating-5{
					svg{
						fill: #A6C8F9;
					}
				}
			}
			.name{
				font-family: $gilroyBold;
				font-size: 24px;
				line-height: 29px;
				color: $black;
				margin-bottom: 5px;
			}
			.date{
				font-size: 14px;
				line-height: 27px;
				color: #919DAA;
				font-family: $gilroy;
				margin-bottom: 13px;
			}
			.text{
				font-size: 16px;
				line-height: 24px;
				color: #313131;
				font-family: $gilroy;
				margin-bottom: 18px;
			}
			.cr-answer{
				background: #B6CDE5;
				padding: 10px 20px;
				margin-bottom: 18px;
				.cr-answer-title{
					font-size: 16px;
					line-height: 24px;
					font-family: $gilroyBold;
					color: $black;
					margin-bottom: 5px;
				}
				.cr-answer-text{
					font-size: 14px;
					line-height: 24px;
					font-family: $gilroy;
					color: $black;
					margin-bottom: 0;
				}
			}
			.cr-watch{
				display: flex;
				align-items: center;
				text-decoration: none !important;
				font-size: 14px;
				line-height: 24px;
				color: #73A7F0;
				font-family: $gilroy;
				svg{
					margin-right: 9px;
				}
			}
			.cr-soc{
				display: flex;
				align-items: center;
				margin-top: 22px;
				a{
					display: block;
					margin-right: 18px;
					&:last-of-type{
						margin-right: 0;
					}
					svg{
						height: 38px;
						width: 38px;
					}
					&.bt-ig{
						height: 38px;
						width: 38px;
						background: #FFA4E5;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						svg{
							width: 18px;
							height: 16.42px;
						}
					}
				}
			}
		}
	}
	.reviews-more{
		display: flex;
	    align-items: center;
	    font-family: $gilroyBold;
	    justify-content: center;
	    font-size: 16px;
	    line-height: 19px;
	    color: #73A7F0;
	    text-decoration: none !important;
	    text-transform: uppercase;
	    letter-spacing: 0.01em;
	    margin-top: 25px;
	    cursor: pointer;
	    margin-bottom: 55px;
	    svg{
			height: 19px;
			width: 19px;
			margin-left: 9px;
			display: block;
			transform: rotate(90deg);
	    }
	}
	.reviews-hr{
		margin: 0;
		border-top: 1px solid #CEDAE6;
	}
}

@media only screen and (max-width: 767px){
	.page-template-reviews{
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 20px;
		}
		.cr-item{
			padding: 30px 20px;
			flex-direction: column;
			figure{
				margin-bottom: 10px;
			}
			.cr-content{
				.cr-rating{
					top: 8px;
					svg{
						height: 15px;
					}
				}
			}
		}
	}
}