.page-template-galleries{
	h1{
		font-size: 52px;
		line-height: 64px;
		font-family: $gilroyExtraBold;
		margin-bottom: 67px;
		color: $black;
	}
	.row{
		.col-12{
			margin-bottom: 30px;
		}
	}
	.gallery-item{
		padding: 30px 32px;
		background: #EEF4FB;
		display: block;
		text-decoration: none !important;
		height: 100%;
		img{
			height: 60px;
			width: auto;
			margin: 0 0 10px;
		}
		.gallery-item-row{
			display: flex;
			justify-content: space-between;
			.gallery-item-title{
				font-size: 22px;
				line-height: 30px;
				color: $black;
				font-family: $gilroyBold;
				margin: 0;
				flex: 1;
			}
			svg{
				height: 37px;
				width: 37px;
				margin-left: 15px;
			}
		}
	}
	.gallery-hr{
		margin: 75px 0 0;
		border-top: 1px solid #CEDAE6;
	}
}

@media only screen and (max-width: 767px){
	.page-template-galleries{
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 20px;
		}
		.gallery-hr{
			margin: 50px 0 0;
		}
	}
}