.page-template-works{
	.page-works{
		.btn-works-back{
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			font-family: $gilroyBold;
			text-transform: uppercase;
			margin-bottom: 15px;
			cursor: pointer;
			text-decoration: none!important;
			svg{
				margin-right: 14px;
			}
		}
		h1{
			font-size: 52px;
			line-height: 64px;
			font-family: $gilroyExtraBold;
			margin-bottom: 17px;
			color: $black;
		}
		p{
			margin-bottom: 51px;
			font-size: 18px;
			line-height: 27px;
			color: $black;
			font-family: $gilroy;
		}
		figure{
			width: 100%;
			margin: 0 0 30px;
			&:after{
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}
		.works-more{
			display: flex;
		    align-items: center;
		    font-family: $gilroyBold;
		    justify-content: center;
		    font-size: 16px;
		    line-height: 19px;
		    color: #73A7F0;
		    text-decoration: none !important;
		    text-transform: uppercase;
		    letter-spacing: 0.01em;
		    margin-top: 25px;
		    cursor: pointer;
		    margin-bottom: 55px;
		    margin-top: 30px;
		    svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
				transform: rotate(90deg);
		    }
		}
		hr{
			margin: 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-works{
		.page-works{
			h1{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 20px;
			}
		}
	}
}