.page-template-timetable{
  .page-timetable{
    overflow-x: hidden;
    h1{
      font-family: $gilroyExtraBold;
      font-size: 52px;
      line-height: 64px;
      color: $black;
      margin-bottom: 32px;
    }
    .courses-filter{
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      .courses-select{
        margin-left: 41px;
        display: flex;
        align-items: center;
        &:first-of-type{
          margin-left: 0;
        }
        label{
          font-size: 16px;
          line-height: 19px;
          font-family: $gilroy;
          color: #757F8A;
          margin-bottom: 0;
          margin-right: 7px;
        }
        select{
          box-shadow: none !important;
          outline: none !important;
          border: none !important;
          background: none !important;
          color: $black;
          font-size: 16px;
          line-height: 19px;
          font-family: $gilroyBold;
        }
        .ui-selectmenu-button{
          box-shadow: none !important;
          outline: none !important;
          border: none !important;
          background: none !important;
          color: $black;
          font-size: 16px;
          line-height: 19px;
          font-family: $gilroyBold;
          padding-left: 10px;
          &.ui-button{
            width: auto !important;
          }
          .ui-selectmenu-icon{
            position: relative;
            &:before{
              content: '';
              top: 65%;
              left: 50%;
              transform: translate(-50%,-50%);
              position: absolute;
              background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath d='M5.505 5.995a.7.7 0 00.99 0L10.95 1.54a.7.7 0 10-.99-.99L6 4.51 2.04.55a.7.7 0 00-.99.99l4.455 4.455zM5.3 5v.5h1.4V5H5.3z' fill='%2343484E'/%3E%3C/svg%3E");
              width: 12px;
              height: 7px;
            }
          }
        }
      }
    }
    .courses-category{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 67px;
      .courses-category-item{
        font-size: 16px;
        line-height: 19px;
        color: #757F8A;
        margin-right: 40px;
        border-bottom: dashed 1px #757F8A;
        margin-bottom: 23px;
        cursor: pointer;
        text-decoration: none !important;
        &.active{
          color: #73A7F0;
          border-bottom: none;
        }
      }
      &::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
        display: none;
      }
    }
    hr{
      margin: 169px 0 0;
      border-top: 1px solid #CEDAE6;
    }
  }
}

@media only screen and (max-width: 992px){
  .page-template-timetable{
    .page-timetable{
      .courses-filter{
        flex-direction: column;
        align-items: flex-start;
        .courses-select{
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px){
  .page-template-timetable{
    .page-timetable{
      h1{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 40px;
      }
      .courses-filter{
        .courses-search{
          width: 100%;
        }
      }
      .courses-category{
        margin-bottom: 36px;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
        .courses-category-item{
          margin-right: 20px;
          white-space: nowrap;
          margin-bottom: 0;
        }
      }
    }
  }
}