.page-template-recruitment{
	.page-agency{
		.agency-heading{
			padding-bottom: 75px;
			.agency-heading-top{
				background: #6CA9FF;
				padding: 80px 97px;
				margin-bottom: 30px;
				position: relative;
				img{
					height: 330px;
					width: auto;
					position: absolute;
					bottom: 0;
					right: 97px;
				}
				h1{
					font-size: 46px;
					line-height: 57px;
					color: $white;
					font-family: $gilroyExtraBold;
					margin-bottom: 31px;
				}
				p{
					font-size: 18px;
					line-height: 27px;
					color: $white;
					font-family: $gilroy;
					max-width: 555px;
					margin-bottom: 0;
				}
				.col-md-5{
					display: flex;
					align-items: flex-end;
				}
			}
			.agency-heading-bottom{
				.col-12{
					&:first-of-type{
						margin-bottom: 30px;
						.ahb-item{
							background: #699be0;
						}
					}
					&:last-of-type{
						.ahb-item{
							background: #66C3D0;
						}
					}
					.col-12{
						&:first-of-type{
							margin-bottom: 0;
						}
						&:last-of-type{
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
						}
					}
				}
				.ahb-item{
					padding: 49px 50px;
					.title{
						font-size: 32px;
						line-height: 30px;
						color: $white;
						font-family: $gilroyBold;
						margin-bottom: 22px;
					}
					.text{
						font-size: 18px;
						line-height: 27px;
						color: $white;
						font-family: $gilroy;
						margin-bottom: 0;
					}
					.btn-ahb-item{
						width: 223px;
						padding: 14px 0;
						background: $white;
						text-decoration: none !important;
						outline: none !important;
						box-shadow: none !important;
						border: none !important;
						display: flex;
						align-items: center;
						justify-content: center;
						color: #AFCD5F;
						cursor: pointer;
						border-radius: 100px;
						font-family: $gilroyMedium;
						margin-bottom: 34px;
						margin-left: auto;
						margin-right: auto;
					}
					.ahb-item-more{
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 16px;
						line-height: 19px;
						color: $white;
						font-family: $gilroyBold;
						letter-spacing: 0.01em;
						text-transform: uppercase;
						text-decoration: none !important;
						svg{
							height: 19px;
							width: 19px;
							display: block;
							margin-left: 5px;
						}
					}
				}
			}
		}
		.agency-text-block{
			h2{
				font-size: 44px;
				line-height: 59px;
				color: $black;
				font-family: $gilroyBold;
				margin-bottom: 40px;
				max-width: 500px;
				width: 100%;
			}
			p{
				font-size: 18px;
				line-height: 27px;
				color: $black;
				font-family: $gilroy;
				margin-bottom: 0;
				max-width: 500px;
				width: 100%;
			}
			img{
				max-width: 500px;
				width: 100%;
				height: auto;
				max-height: 456px;
				margin: 0 0 0 auto;
				display: block;
			}
			.row{
				margin-bottom: 75px;
				&.flex-md-row-reverse{
					p, h2{
						margin-left: auto;
						margin-right: auto;
					}
					img{
						margin: 0 auto 0 0;
					}
				}
			}
		}
		.agency-can{
			padding-bottom: 70px;
			h2{
				font-size: 52px;
				line-height: 64px;
				margin-bottom: 78px;
				font-family: $gilroyExtraBold;
				color: $black;
			}
			.agency-can-item{
				padding: 42px 29px 28px 45px;
				height: 100%;
				background: #F0F9FA;
				text-decoration: none !important;
				display: block;
				position: relative;
				img{
					margin-bottom: 32px;
					height: 73px;
					width: auto;
				}
				.title{
					font-size: 30px;
					line-height: 40px;
					color: $black;
					font-family: $gilroyBold;
					margin-bottom: 15px;
				}
				.text{
					font-size: 16px;
					line-height: 24px;
					color: #313131;
					font-family: $gilroy;
					padding-bottom: 100px;
					margin-bottom: 0;
				}
				svg{
					height: 50px;
					width: auto;
					position: absolute;
					bottom: 28px;
					right: 29px;
					display: block;
				}
			}
		}
		hr{
			margin: 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 1200px){
	.page-template-recruitment{
		.page-agency{
			.agency-heading{
				.agency-heading-top{
					img{
						right: 48px;
					}
				}
			}
			.agency-can{
				.col-12{
					margin-bottom: 15px;
					&:last-of-type{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-recruitment{
		.page-agency{
			.agency-heading{
				padding-bottom: 80px;
				.agency-heading-top{
					padding: 40px 20px;
					margin-bottom: 15px;
					h1{
						font-size: 28px;
						line-height: 32px;
					}
					.col-md-5{
						align-items: center;
						height: 267px;
					}
					img{
						height: auto;
						width: 80%;
						right: auto;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				.agency-heading-bottom{
					.col-12{
						&:first-of-type{
							margin-bottom: 15px;
						}
						.col-12{
							align-items: flex-start;
						}
					}
					.ahb-item{
						padding: 40px 20px;
						.title{
							font-size: 28px;
							line-height: 32px;
							margin-bottom: 15px;
						}
						.text{
							margin-bottom: 15px;
						}
						.btn-ahb-item{
							margin-left: 0;
							margin-bottom: 15px;
						}
					}
				}
			}
			.agency-text-block{
				h2{
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 20px;
					margin-left: 0;
					margin-right: 0;
				}
				p{
					margin-right: 0;
					margin-left: 0;
					margin-bottom: 20px;
				}
				img{
					margin: 0;
				}
				.row{
					margin-bottom: 80px;
					&.flex-md-row-reverse{
						h2, p{
							margin-left: 0;
							margin-right: 0;
						}
						img{
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
			.agency-can{
				padding-bottom: 80px;
				h2{
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 20px;
				}
				.agency-can-item{
					padding: 40px 20px;
					img{
						margin-bottom: 20px;
					}
					.title{
						font-size: 28px;
						line-height: 32px;
						margin-bottom: 20px;
					}
					.text{
						padding-bottom: 80px;
					}
					svg{
						bottom: 40px;
						right: 20px;
					}
				}
			}
		}
	}
}