.page-template-vacancies{
	.page-vacancies{
		h1{
			font-size: 52px;
			line-height: 64px;
			font-family: $gilroyExtraBold;
			margin-bottom: 57px;
			color: $black;
		}
		.vacancies-item{
			padding: 50px 61px;
			margin-bottom: 20px;
			background: #F8F9FA;
			.title{
				font-size: 28px;
				line-height: 29px;
				color: $black;
				font-family: $gilroyBold;
				margin-bottom: 7px;
			}
			.stats{
				display: flex;
				align-items: center;
				width: 100%;
				overflow-x: auto;
				white-space: nowrap;
				&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
					display: none;
				}
				p{
					margin: 0;
					font-size: 16px;
					line-height: 27px;
					font-family: $gilroy;
					color: #75828E;
					margin-right: 10px;
					display: flex;
					align-items: center;
					margin-bottom: 12px;
					&:first-of-type{
						font-family: $gilroyBold;
					}
					&:after{
						content: '';
						height: 3px;
						width: 3px;
						background: #75828E;
						border-radius: 50%;
						margin-left: 10px;
					}
					&:last-of-type{
						margin-right: 0;
						&:after{
							display: none;
						}
					}
				}
			}
			.text{
				font-size: 16px;
				line-height: 24px;
				color: #313131;
				font-family: $gilroy;
				margin-bottom: 15px;
			}
			.btn-vacancies-more{
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
				color: #73A7F0;
				margin-bottom: 0;
				display: flex;
				align-items: center;
				text-decoration: none !important;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				margin-bottom: 0;
				svg{
					margin-left: 11px;
					display: block;
				}
			}
			.price{
				font-size: 26px;
				line-height: 27px;
				color: #373D43;
				font-family: $gilroyBold;
				text-align: center;
				margin-bottom: 28px;
			}
			.btn-vacancies-send{
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				color: $white;
				padding: 14px 0;
				background: #F579D3;
				border-radius: 100px;
				width: 223px;
				margin: 0 auto;
				display: block;
				text-decoration: none!important;
				transition: 0.3s;
				&:hover{
					background: #f3afd4;
					transition: 0.3s;
				}
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		.vacancies-more{
			display: flex;
		    align-items: center;
		    font-family: $gilroyBold;
		    justify-content: center;
		    font-size: 16px;
		    line-height: 19px;
		    color: #73A7F0;
		    text-decoration: none !important;
		    text-transform: uppercase;
		    letter-spacing: 0.01em;
		    margin-top: 25px;
		    cursor: pointer;
		    margin-bottom: 0;
		    margin-top: 44px;
		    svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
				transform: rotate(90deg);
		    }
		}
		hr{
			margin: 37px 0 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 992px){
	.page-template-vacancies{
		.page-vacancies{
			.vacancies-item{
				.price{
					text-align: left;
					margin-top: 25px;
				}
				.btn-vacancies-send{
					margin-left: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-vacancies{
		.page-vacancies{
			h1{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 20px;
			}
			.vacancies-item{
				padding: 40px 20px;
			}
		}
	}
}