.post-template-job{
	.page-job{
		.btn-job-back{
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			font-family: $gilroyBold;
			text-transform: uppercase;
			margin-bottom: 41px;
			text-decoration: none!important;
			svg{
				margin-right: 14px;
			}
		}
		.job-wrap{
			padding: 60px 74px 61px 73px;
			background: #F8F9FA;
			h1{
				font-size: 52px;
				line-height: 64px;
				color: $black;
				font-family: $gilroyExtraBold;
				margin-bottom: 12px;
			}
			.job-stats-pay{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 12px;
				.job-stats{
					display: flex;
					align-items: center;
					max-width: 100%;
					overflow-x: auto;
					white-space: nowrap;
					&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
						display: none;
					}
					p{
						margin: 0;
						font-size: 16px;
						line-height: 27px;
						font-family: $gilroy;
						color: #75828E;
						margin-right: 10px;
						display: flex;
						align-items: center;
						margin-bottom: 0;
						&:first-of-type{
							font-family: $gilroyBold;
						}
						&:after{
							content: '';
							height: 3px;
							width: 3px;
							background: #75828E;
							border-radius: 50%;
							margin-left: 10px;
						}
						&:last-of-type{
							margin-right: 0;
							&:after{
								display: none;
							}
						}
					}
				}
				.job-pay{
					font-size: 26px;
					line-height: 27px;
					color: #373D43;
					font-family: $gilroyBold;
					margin-bottom: 0;
				}
			}
			.text{
				font-size: 16px;
				line-height: 24px;
				color: #313131;
				font-family: $gilroy;
				margin-bottom: 41px;
				max-width: calc(100% - 200px);
			}
			.title{
				font-size: 20px;
				line-height: 24px;
				color: #313131;
				font-family: $gilroyBold;
				margin-bottom: 12px;
			}
			.btn-job-send{
				font-size: 16px;
				line-height: 19px;
				color: $white;
				font-family: $gilroy;
				text-decoration: none !important;
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
				background: #F579D3;
				border-radius: 100px;
				padding: 15px 0;
				display: block;
				width: 223px;
				text-align: center;
				transition: 0.3s;
				&:hover{
					background: #f3afd4;
					transition: 0.3s;
				}
			}
		}
		hr{
			margin: 74px 0 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 992px){
	.post-template-job{
		.page-job{
			.job-wrap{
				.job-stats-pay{
					flex-direction: column;
					align-items: flex-start;
					.job-stats{
						margin-bottom: 12px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.post-template-job{
		.page-job{
			.job-wrap{
				padding: 40px 20px;
				h1{
					font-size: 28px;
					line-height: 29px;
					margin-bottom: 10px;
				}
				.job-stats-pay{
					margin-bottom: 20px;
					.job-stats{
						margin-bottom: 3px;
					}
					.job-pay{
						font-size: 18px;
						line-height: 27px;
					}
				}
				.text{
					max-width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
}