.page-template-vacancy-add{
	.page-vacancy-add{
		.btn-vacancy-add-back{
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			font-family: $gilroyBold;
			text-transform: uppercase;
			margin-bottom: 41px;
			svg{
				margin-right: 14px;
			}
		}
		.vacancy-add-wrap{
			padding: 40px 67px 81px 54px;
			background: #66C3D0;
			border-radius: 4px;
			max-width: 922px;
			h1{
				font-size: 52px;
				line-height: 64px;
				font-family: $gilroyExtraBold;
				color: $white;
				margin-bottom: 8px;
			}
			.subtitle{
				font-size: 20px;
				line-height: 24px;
				color: $white;
				font-family: $gilroy;
				margin-bottom: 63px;
			}
			input{
				background: #66C3D0;
				border: $white solid 1px!important;
				border-radius: 100px;
				width: 100%;
				padding: 16px 25px;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroyMedium;
				color: $white;
				outline: none !important;
				box-shadow: none !important;
				margin: 0 0 20px;
				transition: 0.3s;
				&::placeholder{
					font-size: 14px;
					line-height: 16px;
					font-family: $gilroyMedium;
					color: $white;
				}
				&:focus{
					border: solid 1px #F579D3!important;
					transition: 0.3s;
				}
			}
			.ui-selectmenu-button{
				background: #66C3D0;
				border: $white solid 1px!important;
				border-radius: 100px;
				width: 100%;
				padding: 16px 25px;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroyMedium;
				color: $white;
				outline: none !important;
				box-shadow: none !important;
				margin: 0 0 20px;
				transition: 0.3s;
				&:focus{
					border: solid 1px #F579D3!important;
					transition: 0.3s;
				}
				.ui-selectmenu-icon{
					background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath d='M5.505 5.995a.7.7 0 00.99 0L10.95 1.54a.7.7 0 10-.99-.99L6 4.51 2.04.55a.7.7 0 00-.99.99l4.455 4.455zM5.3 5v.5h1.4V5H5.3z' fill='%23fff'/%3E%3C/svg%3E");
					height: 7px;
					width: 12px;
					background-size: contain;
					background-position: center;
					margin-top: 5px;
				}
			}
			.input-pay-wrap{
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				input{
					margin-bottom: 0;
					margin-right: 19px;
					transition: 0.3s;
					&:focus{
						border: solid 1px #F579D3!important;
						transition: 0.3s;
					}
				}
				label{
					margin: 0;
					font-size: 14px;
					line-height: 16px;
					color: $white;
					font-family: $gilroyMedium;
				}
			}
			.label-title{
				margin-top: 26px;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				color: $white;
				font-family: $gilroyMedium;
				margin-bottom: 16px;
				margin-left: 19px;
			}
			textarea{
				display: block;
				width: 100%;
				box-shadow: none !important;
				outline: none !important;
				resize: none;
				font-size: 14px;
				line-height: 16px;
				color: $white;
				font-family: $gilroyMedium;
				padding: 25px 18px;
				background: #66C3D0;
				border: $white solid 1px!important;
				border-radius: 12px;
				margin: 0;
				transition: 0.3s;
				&:focus{
					border: solid 1px #F579D3!important;
					transition: 0.3s;
				}
				&::placeholder{
					font-size: 14px;
					line-height: 16px;
					color: $white;
					font-family: $gilroyMedium;
				}
			}
			.btn-vacancy-add-send{
				margin-top: 44px;
				background: $white;
				background: #FFFFFF;
				border-radius: 100px;
				cursor: pointer;
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				color: #66C3D0;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyMedium;
				padding: 15px 0;
				width: 100%;
				transition: 0.3s;
				&:hover{
					background: #f579d3;
					transition: 0.3s;
					color: $white;
				}
			}
		}
		hr{
			margin: 69px 0 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-vacancy-add{
		.page-vacancy-add{
			.vacancy-add-wrap{
				padding: 40px 20px;
				h1{
					font-size: 28px;
					line-height: 29px;
					margin-bottom: 10px;
				}
				.subtitle{
					margin-bottom: 20px;
					font-size: 16px;
					line-height: 24px;
				}
				input, .ui-selectmenu-button, .input-pay-wrap{
					margin-bottom: 10px;
				}
				.label-title{
					margin-top: 20px;
				}
				.btn-vacancy-add-send{
					margin-top: 20px;
				}
			}
		}
	}
}