.page-template-resume-add{
	.page-resume-add{
		.btn-resume-add-back{
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			font-family: $gilroyBold;
			text-transform: uppercase;
			margin-bottom: 41px;
			svg{
				margin-right: 14px;
			}
		}
		.resume-add-wrap{
			padding: 40px 67px 81px 54px;
			background: #699be0;
			border-radius: 4px;
			max-width: 922px;
			h1{
				font-size: 52px;
				line-height: 64px;
				font-family: $gilroyExtraBold;
				color: $white;
				margin-bottom: 8px;
			}
			.subtitle{
				font-size: 20px;
				line-height: 24px;
				color: $white;
				font-family: $gilroy;
				margin-bottom: 35px;
			}
			.resume-tabs{
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-radius: 100px;
				border: solid 1px $white;
				overflow: hidden;
				margin-bottom: 34px;
				p{
					margin: 0;
					width: 45%;
					display: block;
					text-align: center;
					padding: 15px 0;
					font-size: 16px;
					line-height: 19px;
					color: $white;
					font-family: $gilroyMedium;
					cursor: pointer;
					&.active{
						background: #EEF4FB;
						color: #8EB8F3;
						border-radius: 100px;
						width: 55%;
					}
				}
			}
			.resume-tab{
				&.resume-tab-write{
					display: none;
					&.active{
						display: block;
					}
					input{
						background: #699be0;
						border-radius: 100px;
						width: 100%;
						padding: 16px 25px;
						font-size: 14px;
						line-height: 16px;
						font-family: $gilroyMedium;
						color: $white;
						outline: none !important;
						box-shadow: none !important;
						border: solid 1px $white !important;
						margin: 0 0 20px;
						transition: 0.3s;
						&::placeholder{
							font-size: 14px;
							line-height: 16px;
							font-family: $gilroyMedium;
							color: $white;
						}
						&:focus{
							border: solid 1px #F579D3!important;
							transition: 0.3s;
						}
					}
					.ui-selectmenu-button{
						background: #699be0;
						border-radius: 100px;
						width: 100%;
						padding: 16px 25px;
						font-size: 14px;
						line-height: 16px;
						font-family: $gilroyMedium;
						color: $white;
						outline: none !important;
						box-shadow: none !important;
						border: solid 1px $white!important;
						margin: 0 0 20px;
						transition: 0.3s;
						&:focus{
							border: solid 1px #F579D3!important;
							transition: 0.3s;
						}
						.ui-selectmenu-icon{
							background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath d='M5.505 5.995a.7.7 0 00.99 0L10.95 1.54a.7.7 0 10-.99-.99L6 4.51 2.04.55a.7.7 0 00-.99.99l4.455 4.455zM5.3 5v.5h1.4V5H5.3z' fill='%23fff'/%3E%3C/svg%3E");
							height: 7px;
							width: 12px;
							background-size: contain;
							background-position: center;
							margin-top: 5px;
						}
					}
					.form-title{
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-top: 26px;
						margin-bottom: 9px;
						p{
							color: $white;
							font-family: $gilroyMedium;
							font-size: 14px;
							line-height: 16px;
							letter-spacing: 0.01em;
							text-transform: uppercase;
							margin: 0;
						}
						.form-title-round{
							height: 30px;
							width: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 22px;
							line-height: 27px;
							letter-spacing: 0.01em;
							text-transform: uppercase;
							color: #699be0;
							font-family: $gilroyBold;
							background: $white;
							border-radius: 50%;
							cursor: pointer;
						}
					}
					.form-date-range{
						display: flex;
						align-items: center;
						margin-bottom: 54px;
						p{
							margin: 0;
							font-size: 14px;
							line-height: 16px;
							color: $white;
							font-family: $gilroyMedium;
							margin-right: 11px;
						}
						.fdr-wrap{
							display: flex;
							align-items: center;
							background: #699be0;
							border-radius: 100px;
							padding: 17px 22px;
							border: solid 1px $white!important;
							&:first-of-type{
								margin-right: 11px;
							}
							&:focus{
								border: solid 1px #F579D3!important;
								transition: 0.3s;
							}
							.ui-selectmenu-button{
								margin-bottom: 0;
								padding: 0;
								margin-right: 14px;
								border: none!important;
								background: none;
								color: $white;
								&:focus{
									border: none!important;
								}
								&:last-of-type{
									margin-right: 0;
								}
								.ui-selectmenu-icon{
									display: none;
								}
								.ui-selectmenu-text{
									margin-right: 0;
								}
							}
						}
					}
					.label-title{
						margin-top: 26px;
						font-size: 14px;
						line-height: 16px;
						letter-spacing: 0.01em;
						text-transform: uppercase;
						color: $white;
						font-family: $gilroyMedium;
						margin-bottom: 16px;
						margin-left: 19px;
					}
					textarea{
						display: block;
						width: 100%;
						border: solid 1px $white!important;
						box-shadow: none !important;
						outline: none !important;
						resize: none;
						font-size: 14px;
						line-height: 16px;
						background: #699be0;
						font-family: $gilroyMedium;
						padding: 25px 18px;
						color: #8EB8F3;
						border-radius: 12px;
						margin: 0;
						transition: 0.3s;
						&:focus{
							border: solid 1px #F579D3!important;
							transition: 0.3s;
						}
						&::placeholder{
							font-size: 14px;
							line-height: 16px;
							color: $white;
							font-family: $gilroyMedium;
						}
					}
					.label-area{
						width: 226px;
						height: 226px;
						background: #699be0;
						border: 1px solid $white;
						border-radius: 12px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						position: relative;
						overflow: hidden;
						cursor: pointer;
						.resume-img-holder{
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background-repeat: no-repeat!important;
							background-position: center!important;
							background-size: cover!important;
						}
						svg{
							height: 50px;
							width: 50px;
							margin-bottom: 17px;
						}
						p{
							font-size: 12px;
							line-height: 15px;
							text-align: center;
							color: $white;
							font-family: $gilroyMedium;
							margin: 0;
							max-width: 209px;
						}
					}
					.btn-resume-add-write-send{
						margin-top: 44px;
						background: $white;
						background: #FFFFFF;
						border-radius: 100px;
						cursor: pointer;
						border: none !important;
						box-shadow: none !important;
						outline: none !important;
						color: #699be0;
						font-size: 16px;
						line-height: 19px;
						font-family: $gilroyMedium;
						padding: 15px 0;
						width: 100%;
						transition: 0.3s;
						&:hover{
							background: #f579d3;
							transition: 0.3s;
							color: $white;
						}
					}
				}
				&.resume-tab-upload{
					display: none;
					&.active{
						display: block;
					}
					.input-text{
						background: #699be0;
						border-radius: 100px;
						width: 100%;
						padding: 16px 25px;
						font-size: 14px;
						line-height: 16px;
						font-family: $gilroyMedium;
						color: $white;
						outline: none !important;
						box-shadow: none !important;
						border: solid 1px $white!important;
						margin: 0 0 20px;
						transition: 0.3s;
						&::placeholder{
							font-size: 14px;
							line-height: 16px;
							font-family: $gilroyMedium;
							color: $white;
						}
						&:focus{
							border: solid 1px #F579D3!important;
							transition: 0.3s;
						}
					}
					.btn-resume-add-upload-send{
						margin-top: 44px;
						background: #EEF4FB;
						border-radius: 100px;
						cursor: pointer;
						border: none !important;
						box-shadow: none !important;
						outline: none !important;
						color: #8EB8F3;
						font-size: 16px;
						line-height: 19px;
						font-family: $gilroyMedium;
						padding: 15px 0;
						width: 100%;
						margin-bottom: 26px;
						transition: 0.3s;
						&:hover{
							background: #f579d3;
							transition: 0.3s;
							color: $white;
						}
					}
					.check-row{
						display: flex;
						align-items: center;
						margin-bottom: 15px;
						&:last-of-type{
							margin-bottom: 0;
						}
						label{
							font-size: 14px;
							line-height: 16px;
							color: $white;
							font-family: $gilroyMedium;
							margin: 0 0 0 11px;
						}
					}
					.label-title{
						font-size: 14px;
						line-height: 16px;
						letter-spacing: 0.01em;
						text-transform: uppercase;
						color: $white;
						font-family: $gilroyMedium;
						margin-bottom: 16px;
						margin-left: 19px;
					}
					.label-area{
						width: 100%;
						height: 166px;
						background: #699be0;
						border: 1px solid $white;
						border-radius: 12px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						position: relative;
						overflow: hidden;
						cursor: pointer;
						svg{
							height: 50px;
							width: 50px;
							margin-bottom: 17px;
						}
						p{
							font-size: 12px;
							line-height: 15px;
							text-align: center;
							color: $white;
							font-family: $gilroyMedium;
							margin: 0;
							max-width: 209px;
						}
					}
				}
			}
		}
		hr{
			margin: 69px 0 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-resume-add{
		.page-resume-add{
			.resume-add-wrap{
				padding: 40px 20px;
				h1{
					font-size: 28px;
					line-height: 29px;
					margin-bottom: 10px;
				}
				.subtitle{
					margin-bottom: 20px;
					font-size: 16px;
					line-height: 24px;
				}
				.resume-tabs{
					margin-bottom: 20px;
					p{
						font-size: 14px;
						line-height: 20px;
					}
				}
				.resume-tab{
					&.resume-tab-write{
						.form-date-range{
							margin-bottom: 20px;
						}
						.form-title{
							margin-top: 20;
						}
						input, .ui-selectmenu-button, .input-pay-wrap{
							margin-bottom: 10px;
						}
						.label-title{
							margin-top: 20px;
						}
						.form-date-range{
							margin-bottom: 0;
						}
						.btn-resume-add-write-send{
							margin-top: 20px;
						}
					}
					&.resume-tab-upload{
						.input-text{
							margin-bottom: 10px;
						}
						.btn-resume-add-upload-send{
							margin-top: 10px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}