.page-template-teachers{
	overflow-x: hidden;
	h1{
		font-family: $gilroyExtraBold;
		font-size: 52px;
		line-height: 64px;
		color: $black;
		margin-top: 55px;
		margin-bottom: 32px;
	}
	.courses-filter{
		display: flex;
		align-items: center;
		margin-bottom: 36px;
		.courses-search{
			display: flex;
			align-items: center;
			background: #F1F3F5;
			border-radius: 100px;
			height: 48px;
			width: 393px;
			padding: 0 34px;
			input{
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
				background: none !important;
				font-size: 16px;
				line-height: 19px;
				color: #757F8A;
				flex: 1;
			}
			svg{
				width: 19px;
				height: 19px;
				cursor: pointer;
			}
		}
		.courses-select{
			margin-left: 41px;
			display: flex;
			align-items: center;
			label{
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroy;
				color: #757F8A;
				margin-bottom: 0;
				margin-right: 7px;
			}
			select{
				box-shadow: none !important;
				outline: none !important;
				border: none !important;
				background: none !important;
				color: $black;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
			}
		}
	}
	.courses-category{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 67px;
		.courses-category-item{
			font-size: 16px;
			line-height: 19px;
			color: #757F8A;
			margin-right: 40px;
			border-bottom: dashed 1px #757F8A;
			margin-bottom: 23px;
			cursor: pointer;
			text-decoration: none !important;
			&.active{
				color: #73A7F0;
				border-bottom: none;
			}
		}
		&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
			display: none;
		}
	}
	.teachers-list{
		.teacher-more{
			display: flex;
			align-items: center;
			font-family: $gilroyBold;
			justify-content: center;
			font-size: 16px;
			line-height: 19px;
			color: #73A7F0;
			text-decoration: none !important;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			margin-top: 25px;
			cursor: pointer;
			svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
				transform: rotate(90deg);
			}
		}
		.teachers-item{
			text-decoration: none!important;
			display: none;
			&.show{
				display: block;
			}
		}
		figure{
			position: relative;
			overflow: hidden;
			padding-bottom:100%;
			width: 100%;
			border-radius: 4px;
			margin: 0 0 16px;
			img{
				position:absolute;
			}
			a{
				display: block;
				position: absolute;
				right: 20px;
				svg{
					height: 38px;
					width: 38px;
				}
				&.bt-fb{
					top: 20px;
				}
				&.bt-ig{
					top: 74px;
					height: 38px;
					width: 38px;
					background: #FFA4E5;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					svg{
						width: 18px;
						height: 16.42px;
					}
				}
			}
		}
		.name{
			font-size: 22px;
			line-height: 29px;
			font-family: $gilroyBold;
			margin-bottom: 5px;
			color: #3D444B;
			text-decoration: none!important;
			display: block;
		}
		.position{
			font-size: 16px;
			line-height: 24px;
			font-family: $gilroy;
			color: #3E4349;
			margin: 0;
			margin-bottom: 46px;
		}
		hr{
			margin-bottom: 0;
			margin-top: 65px;
			border-top: 1px solid #CEDAE6;
		}
		.col-12{
			padding-top: 15px;
			padding-bottom: 15px;
			transition: 0.3s;
			&:hover{
				transition: 0.3s;
				box-shadow: 0 0 5px rgba(0,0,0,.25);
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.page-template-teachers{
		.courses-filter{
			flex-direction: column;
			align-items: flex-start;
			.courses-select{
				margin-left: 0;
				margin-top: 15px;
			}
		}
		.teachers-list{
			.name{
				font-size: 20px;
				line-height: 29px;
			}
			.position{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-teachers{
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		.courses-filter{
			.courses-search{
				width: 100%;
			}
		}
		.courses-category{
			margin-bottom: 36px;
			flex-wrap: nowrap;
			width: 100%;
			overflow-x: scroll;
			.courses-category-item{
				margin-right: 20px;
				white-space: nowrap;
				margin-bottom: 0;
			}
		}
		.teachers-list{
			padding-bottom: 0;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 40px;
			}
			.teacher-more{
				position: relative;
				top: 0;
				right: 0;
				margin-top: 40px;
			}
			.teacher-more{
				margin-top: 0;
			}
			hr{
				margin-top: 44px;
			}
		}
	}
}