.page-template-videos{
	overflow-x: hidden;
	h1{
		font-family: $gilroyExtraBold;
		font-size: 52px;
		line-height: 64px;
		color: $black;
		margin-top: 55px;
		margin-bottom: 32px;
	}
	.courses-filter{
		display: flex;
		align-items: center;
		margin-bottom: 36px;
		.courses-search{
			display: flex;
			align-items: center;
			background: #F1F3F5;
			border-radius: 100px;
			height: 48px;
			width: 393px;
			padding: 0 34px;
			input{
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
				background: none !important;
				font-size: 16px;
				line-height: 19px;
				color: #757F8A;
				flex: 1;
			}
			svg{
				width: 19px;
				height: 19px;
				cursor: pointer;
			}
		}
		.courses-select{
			margin-left: 41px;
			display: flex;
			align-items: center;
			label{
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroy;
				color: #757F8A;
				margin-bottom: 0;
				margin-right: 7px;
			}
			select{
				box-shadow: none !important;
				outline: none !important;
				border: none !important;
				background: none !important;
				color: $black;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
			}
		}
	}
	.courses-category{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 67px;
		.courses-category-item{
			font-size: 16px;
			line-height: 19px;
			color: #757F8A;
			margin-right: 40px;
			border-bottom: dashed 1px #757F8A;
			margin-bottom: 23px;
			cursor: pointer;
			text-decoration: none !important;
			&.active{
				color: #73A7F0;
				border-bottom: none;
			}
		}
		&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
			display: none;
		}
	}
	.video-list{
		a{
			text-decoration: none!important;
			display: block;
		}
		.video-more{
			display: flex;
			align-items: center;
			font-family: $gilroyBold;
			justify-content: center;
			font-size: 16px;
			line-height: 19px;
			color: #73A7F0;
			text-decoration: none !important;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			margin-top: 25px;
			cursor: pointer;
			svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
				transform: rotate(90deg);
			}
		}
		hr{
			margin-bottom: 0;
			margin-top: 65px;
			border-top: 1px solid #CEDAE6;
		}
		.lecture-item{
			text-decoration: none!important;
			display: none;
			&.show{
				display: block;
			}
		}
		.col-12{
			transition: 0.3s;
			margin-bottom: 5px;
			padding-top: 15px;
			&:hover{
				transition: 0.3s;
				box-shadow: 0 0 5px rgba(0,0,0,.25);
			}
			&.sale{
				figure{
					.sale-label{
						display: flex;
					}
				}
				.vir-price-old{
					display: block;
				}
				.vir-price{
					background: #66C3D0;
				}
			}
		}
		figure{
			margin: 0 0 29px;
			position: relative;
			width: 100%;
			height: 253px;
			cursor: pointer;
			.play{
				height: 57px;
				width: 57px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			.sale-label{
				height: 68px;
				width: 68px;
				background: #66C3D0;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-radius: 50%;
				font-size: 12px;
				line-height: 19px;
				color: #D7F6FA;
				font-family: $gilroyExtraBold;
				top: 20px;
				left: 23px;
				position: absolute;
				display: none;
				svg{
					width: 21px;
					height: 19px;
				}
			}
		}
		.video-info-row{
			display: flex;
			margin-bottom: 17px;
			.vir-time{
				background: rgba(142, 184, 243, 0.09);
				border-radius: 100px;
				padding: 9px 21px;
				font-family: $gilroyMedium;
				font-size: 13px;
				line-height: 15px;
				margin-right: 15px;
				color: #73A7F0;
			}
			.vir-price{
				background: #F579D3;
				border-radius: 100px;
				padding: 9px 21px;
				font-family: $gilroyMedium;
				font-size: 13px;
				line-height: 15px;
				margin-right: 10px;
				color: $white;
			}
			.vir-price-old{
				font-size: 13px;
				line-height: 15px;
				color: $black;
				font-family: $gilroy;
				text-decoration: line-through;
				display: none;
			}
		}
		.title{
			font-size: 26px;
			line-height: 34px;
			font-family: $gilroyExtraBold;
			color: $black;
			margin-bottom: 17px;
		}
		.name{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			margin-bottom: 50px;
		}
	}
}

@media only screen and (max-width: 992px){
	.page-template-videos{
		.courses-filter{
			flex-direction: column;
			align-items: flex-start;
			.courses-select{
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-videos{
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		.courses-filter{
			.courses-search{
				width: 100%;
			}
		}
		.courses-category{
			margin-bottom: 36px;
			flex-wrap: nowrap;
			width: 100%;
			overflow-x: scroll;
			.courses-category-item{
				margin-right: 20px;
				white-space: nowrap;
				margin-bottom: 0;
			}
		}
		.video-list{
			.title{
				font-size: 22px;
				line-height: 29px;
				margin-bottom: 5px;
			}
			.video-more{
				margin-top: 0;
			}
			hr{
				margin-top: 44px;
			}
		}
	}
}