.page-template-blog{
	overflow-x: hidden;
	h1{
		font-family: $gilroyExtraBold;
		font-size: 52px;
		line-height: 64px;
		color: $black;
		margin-top: 55px;
		margin-bottom: 32px;
	}
	.courses-filter{
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		.courses-select{
			display: flex;
			align-items: center;
			label{
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroy;
				color: #757F8A;
				margin-bottom: 0;
				margin-right: 7px;
			}
			select{
				box-shadow: none !important;
				outline: none !important;
				border: none !important;
				background: none !important;
				color: $black;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
			}
			.ui-selectmenu-button{
				box-shadow: none !important;
				outline: none !important;
				border: none !important;
				background: none !important;
				color: $black;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyBold;
				padding-left: 10px;
				&.ui-button{
					width: auto !important;
				}
				.ui-selectmenu-icon{
					position: relative;
					&:before{
						content: '';
						top: 65%;
						left: 50%;
						transform: translate(-50%,-50%);
						position: absolute;
						background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath d='M5.505 5.995a.7.7 0 00.99 0L10.95 1.54a.7.7 0 10-.99-.99L6 4.51 2.04.55a.7.7 0 00-.99.99l4.455 4.455zM5.3 5v.5h1.4V5H5.3z' fill='%2343484E'/%3E%3C/svg%3E");
						width: 12px;
						height: 7px;
					}
				}
			}
		}
	}
	.courses-category{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 42px;
		.courses-category-item{
			font-size: 16px;
			line-height: 19px;
			color: #757F8A;
			margin-right: 40px;
			border-bottom: dashed 1px #757F8A;
			margin-bottom: 23px;
			cursor: pointer;
			text-decoration: none !important;
			&.active{
				color: #73A7F0;
				border-bottom: none;
			}
		}
		&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
			display: none;
		}
	}
	.blog-list{
		.col-12{
			padding-top: 15px;
			padding-bottom: 15px;
			transition: 0.3s;
			&:hover{
				transition: 0.3s;
				box-shadow: 0 0 5px rgba(0,0,0,.25);
			}
		}
		.blog-item{
			text-decoration: none!important;
			display: none;
			&.show{
				display: block;
			}
		}
		.blog-more{
			display: flex;
			align-items: center;
			font-family: $gilroyBold;
			justify-content: center;
			font-size: 16px;
			line-height: 19px;
			color: #73A7F0;
			text-decoration: none !important;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			margin-top: 16px;
			cursor: pointer;
			svg{
				height: 19px;
				width: 19px;
				margin-left: 9px;
				display: block;
				transform: rotate(90deg);
			}
		}
		hr{
			margin-bottom: 0;
			margin-top: 80px;
			border-top: 1px solid #CEDAE6;
		}
		figure{
			width: 100%;
			height: 253px;
			margin: 0 0 13px;
		}
		.date{
			font-size: 14px;
			line-height: 27px;
			color: #919DAA;
			margin-bottom: 5px;
		}
		.title{
			font-size: 26px;
			line-height: 34px;
			font-family: $gilroyExtraBold;
			color: $black;
			margin-bottom: 7px;
		}
		.description{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			margin-bottom: 50px;
		}
		a{
			text-decoration: none !important;
			display: block;
		}
	}
}

@media only screen and (max-width: 992px){
	.page-template-blog{
		.courses-filter{
			flex-direction: column;
			align-items: flex-start;
			.courses-select{
				margin-left: 0;
				margin-top: 0;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-blog{
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		.courses-filter{
			.courses-search{
				width: 100%;
			}
		}
		.courses-category{
			margin-bottom: 36px;
			flex-wrap: nowrap;
			width: 100%;
			overflow-x: scroll;
			.courses-category-item{
				margin-right: 20px;
				white-space: nowrap;
				margin-bottom: 0;
			}
		}
		
	}
}