.post-template-about-course{
	.video-wrap{
		background: $white;
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&.show{
			display: block;
		}
		.btn-video-wrap-close{
			position: absolute;
			top: 0;
			right: 0;
			height: 30px;
			width: 30px;
			cursor: pointer;
			background: $white;
			z-index: 5;
		}
		.video-handler{
			flex: 1;
			position: relative;
			overflow: hidden;
			max-width: 100%;
			height: 100%;
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.course-head-container{
		&.hide{
			display: none;
		}
	}
	.course-head{
		display: flex;
		min-height: 510px;
		width: 100%;
		.course-head-left{
			position: relative;
			width: 65%;
			padding: 17px 31px 63px 55px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.chl-rating-wrap{
				display: flex;
				align-items: center;
				figure{
					height: 120px;
					width: 120px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background: #AFCD5F;
					border-radius: 50%;
					margin: 0;
					svg{
						margin-bottom: 12px;
					}
					span{
						&:first-of-type{
							font-size: 20px;
							line-height: 19px;
							font-family: $gilroyBold;
							color: $white;
							margin-bottom: 5px;
						}
						&:last-of-type{
							font-size: 16px;
							line-height: 19px;
							color: $white;
							font-family: $gilroyMedium;
							margin-bottom: 0;
						}
					}
				}
				.progress-wrap{
					background: rgba(255, 255, 255, 0.58);
					padding: 20px;
					width: 269px;
					position: relative;
					margin-left: 28px;
					&:before{
						content: '';
						top: 50%;
						left: 6px;
						transform: translate(-100%,-50%) rotate(-90deg);
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 18px 24px 18px;
						border-color: transparent transparent rgba(255, 255, 255, 0.58) transparent;
						position: absolute;
					}
					.progress-item{
						margin-bottom: 18px;
						&:last-of-type{
							margin-bottom: 0;
						}
						.progress-text{
							display: flex;
							align-items: center;
							justify-content: space-between;
							p{
								&:first-of-type{
									margin-bottom: 0;
									font-size: 14px;
									line-height: 16px;
									color: $black;
								}
								&:last-of-type{
									font-size: 14px;
									line-height: 17px;
									color: #AFCD5F;
									font-family: $gilroyBold;
									margin-bottom: 0;
									width: 22px;
								}
							}
						}
						.progress{
							margin-top: 9px;
							height: 3px;
							border-radius: 100px;
							background: #F1F3F5;
							.progress-bar{
								background: #AFCD5F;
								border-radius: 100px;
							}
						}
					}
				}
			}
			.text-video-wrap{
				display: flex;
				h1{
					font-size: 46px;
					line-height: 57px;
					color: $white;
					font-family: $gilroyExtraBold;
					margin: 0;
				}
				.trailer-desktop{
					display: flex;
					position: relative;
					justify-content: flex-end;
					margin-top: 20px;
					figure{
						width: 163px;
						height: 103.85px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0;
						cursor: pointer;
						svg{
							height: 29px;
							width: 29px;
						}
					}
					.text{
						color: $white;
						font-size: 14px;
						font-family: $gilroy;
						line-height: 21px;
						display: flex;
						margin-left: 10px;
						span{
							margin-right: 10px;
						}
					}
				}
			}
		}
		.course-head-right{
			width: 35%;
			background: #73A7F0;
			padding: 54px 48px 45px;
			.chr-title{
				font-size: 18px;
				line-height: 28px;
				color: $white;
				font-family: $gilroy;
				margin-bottom: 6px;
			}
			.chr-content{
				font-size: 28px;
				line-height: 28px;
				color: $white;
				font-family: $gilroyExtraBold;
				margin-bottom: 30px;
				&:last-of-type{
					margin-bottom: 25px;
				}
			}
			button{
				width: 100%;
				padding: 14px;
				background: #FFFFFF;
				border-radius: 100px;
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				color: #84B2F2;
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
				cursor: pointer;
				margin-bottom: 24px;
			}
			.chr-question{
				display: flex;
				align-items: center;
				font-family: $gilroyBold;
				justify-content: center;
				font-size: 16px;
				line-height: 19px;
				color: $white;
				text-decoration: none !important;
				text-transform: uppercase;
				letter-spacing: 0.01em;
				cursor: pointer;
				svg{
					height: 19px;
					width: 19px;
					margin-left: 9px;
					display: block;
				}
			}
		}
	}
	.course-about{
		padding: 50px 0 75px;
		h2{
			font-size: 44px;
			line-height: 64px;
			font-family: $gilroyBold;
			color: $black;
			margin-bottom: 23px;
		}
		article{
			max-height: 242px;
			overflow-y: auto;
			padding-right: 40px;
			p{
				margin-bottom: 0;
				font-size: 18px;
				line-height: 27px;
				color: $black;
				font-family: $gilroy;
			}
			&::-webkit-scrollbar {
			  width: 10px;
			}
			&::-webkit-scrollbar-track {
			  background: #F0F1F2;
			  border-radius: 100px;
			}
			&::-webkit-scrollbar-thumb {
			  background: #8B939C;
			  border-radius: 100px;
			}
			&::-webkit-scrollbar-thumb:hover {
			  background: #8B939C;
			  border-radius: 100px;
			}

		}
		button{
			background: #F579D3;
			border-radius: 100px;
			padding: 14px;
			width: 223px;
			text-align: center;
			font-size: 16px;
			line-height: 19px;
			font-family: $gilroy;
			color: $white;
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			margin: 49px 0 0;
			transition: 0.3s;
			&:hover{
				background: #f3afd4;
				transition: 0.3s;
			}
		}
		.col-md-4{
			p{
				&:nth-of-type(1){
					font-size: 18px;
					line-height: 28px;
					color: #585F65;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(2){
					font-size: 50px;
					line-height: 34px;
					color: #2D3034;
					font-family: $gilroyExtraBold;
					margin-bottom: 40px;
				}
				&:nth-of-type(3){
					font-size: 18px;
					line-height: 28px;
					color: #585F65;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(4){
					font-size: 50px;
					line-height: 34px;
					color: #2D3034;
					font-family: $gilroyExtraBold;
					margin-bottom: 27px;
				}
				&:nth-of-type(5){
					font-size: 18px;
					line-height: 28px;
					color: #585F65;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(6){
					font-size: 22px;
					line-height: 30px;
					color: #2D3034;
					font-family: $gilroyBold;
					margin-bottom: 0;
				}
			}
		}
	}
	.course-advantages{
		padding-bottom: 75px;
		h2{
			font-size: 44px;
			line-height: 64px;
			font-family: $gilroyBold;
			margin-bottom: 55px;
		}
		img{
			height: 60px;
			width: auto;
			display: block;
			margin: 0 0 10px;
		}
		.title{
			font-size: 26px;
			line-height: 64px;
			color: $black;
			font-family: $gilroyBold;
			margin-bottom: 10px;
		}
		.text{
			font-size: 12px;
			line-height: 19px;
			color: #55595E;
			font-family: $gilroy;
			margin-bottom: 0;
			max-width: 242px;
		}
		.course-advantages-btn{
			background: #F579D3;
			border-radius: 100px;
			padding: 14px;
			width: 223px;
			text-align: center;
			font-size: 16px;
			line-height: 19px;
			font-family: $gilroy;
			color: $white;
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			margin: 60px 0 0;
			transition: 0.3s;
			&:hover{
				background: #f3afd4;
				transition: 0.3s;
			}
		}
	}
	.course-program{
		padding-bottom: 75px;
		h2{
			font-size: 44px;
			line-height: 64px;
			color: $black;
			font-family: $gilroyBold;
			margin-bottom: 60px;
		}
		.course-program-item{
			background: #EEF4FB;
			border-radius: 4px;
			width: 100%;
			margin-bottom: 14px;
			display: flex;
			padding: 8px 49px;
			position: relative;
			&:last-of-type{
				margin-bottom: 59px;
			}
			.task{
				font-size: 20px;
				line-height: 64px;
				color: #89939E;
				margin: 0 79px 0 0;
				font-family: $gilroyBold;
			}
			.cpi-text{
				flex: 1;
			}
			.title{
				font-size: 20px;
				line-height: 64px;
				font-family: $gilroyBold;
				margin: 0;
				color: #313131;
				cursor: pointer;
			}
			.text{
				max-width: 650px;
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 39px;
				color: #313131;
				font-family: $gilroy;
				display: none;
			}
			.plus, .minus{
				font-size: 42px;
				line-height: 64px;
				font-family: $gilroyBold;
				color: #8EB8F3;
				position: absolute;
				top: 8px;
				right: 28px;
				cursor: pointer;
			}
			.minus{
				display: none;
			}
			&.show{
				background: #F6F9FD;
				.plus{
					display: none;
				}
				.minus{
					display: block;
				}
				.cpi-text{
					.text{
						display: block;
					}
				}
			}
		}
		button{
			background: #F579D3;
			border-radius: 100px;
			padding: 14px;
			width: 223px;
			text-align: center;
			font-size: 16px;
			line-height: 19px;
			font-family: $gilroy;
			color: $white;
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			margin: 0;
			transition: 0.3s;
			&:hover{
				background: #f3afd4;
				transition: 0.3s;
			}
		}
	}
	.course-reviews{
		padding-bottom: 82px;
		padding-top: 75px;
		overflow: hidden;
		h2{
			color: $black;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 48px;
		}
		.course-reviews-wrap{
			width: 100vw;
			.col-10{
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
			}
			.row{
				position: relative;
				flex-wrap: nowrap;
			}
			.cr-item{
				display: flex;
				padding: 46px 43px 45px 27px;
				background: #F6F9FC;
				height: 100%;
				figure{
					width: 53px;
					height: 53px;
					display: block;
					margin: 0 23px 0 0;
					border-radius: 50%;
					overflow: hidden;
				}
				.cr-content{
					flex: 1;
					.name{
						font-family: $gilroyBold;
						font-size: 24px;
						line-height: 29px;
						color: $black;
						margin-bottom: 5px;
					}
					.date{
						font-size: 14px;
						line-height: 27px;
						color: #919DAA;
						font-family: $gilroy;
						margin-bottom: 13px;
					}
					.text{
						font-size: 16px;
						line-height: 24px;
						color: #313131;
						font-family: $gilroy;
						margin-bottom: 18px;
					}
					.cr-watch{
						display: flex;
						align-items: center;
						text-decoration: none !important;
						font-size: 14px;
						line-height: 24px;
						color: #73A7F0;
						font-family: $gilroy;
						svg{
							margin-right: 9px;
						}
					}
					.cr-soc{
						display: flex;
						align-items: center;
						margin-top: 22px;
						a{
							display: block;
							margin-right: 18px;
							&:last-of-type{
								margin-right: 0;
							}
							svg{
								height: 38px;
								width: 38px;
							}
							&.bt-ig{
								height: 38px;
								width: 38px;
								background: #FFA4E5;
								border-radius: 50%;
								display: flex;
								align-items: center;
								justify-content: center;
								svg{
									width: 18px;
									height: 16.42px;
								}
							}
						}
					}
				}
			}
			.slick-prev{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -100px;
				left: 1100px;
			}
			.slick-next{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -100px;
				left: 1163px;
			}
			.slick-prev, .slick-next{
				&.slick-disabled{
					opacity: .27;
				}
			}
		}
	}
	main{
		hr{
			margin: 0;
			border-top: 1px solid #CEDAE6;
		}
	}
}

@media only screen and (max-width: 1245px){
	.post-template-about-course{
		.course-head{
			.course-head-left{
				width: 60%;
				.text-video-wrap{
					.trailer-desktop{
						display: none;
					}
				}
			}
			.course-head-right{
				width: 40%;
			}
		}
		.course-reviews{
			.course-reviews-wrap{
				.slick-prev{
					left: 845px;
				}
				.slick-next{
					left: 908px;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.post-template-about-course{
		.course-head{
			.course-head-left{
				width: 60%;
				padding: 17px 31px 45px;
				.chl-rating-wrap{
					figure{
						height: 106px;
						width: 106px;
						svg{
							width: 21px;
							height: 21px;
							margin-bottom: 7px;
						}
						span{
							&:first-of-type{
								margin-bottom: 0;
							}
						}
					}
				}
				.text-video-wrap{
					h1{
						font-size: 42px;
						line-height: 53px;
					}
					.trailer-desktop{
						display: none;
					}
				}
			}
			.course-head-right{
				width: 40%;
			}
		}
		.course-advantages{
			.text{
				margin-bottom: 40px;
			}
		}
		.course-reviews{
			.course-reviews-wrap{
				.slick-prev{
					left: calc(100vw - 15px - 15px - 37px - 37px - 26px);
				}
				.slick-next{
					left: calc(100vw - 15px - 15px - 37px);
				}
				.slick-next, .slick-prev{
					top: -73px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.post-template-about-course{
		.course-head-container{
			padding: 0;
		}
		.course-head{
			min-height: 0;
			flex-direction: column;
			.course-head-left{
				width: 100%;
				padding: 16px 15px 62px;
				.chl-rating-wrap{
					margin-bottom: 62px;
					figure{
						height: 90px;
						width: 90px;
					}
					.progress-wrap{
						width: 230px;
						padding: 17px;
						&:before{
							border-width: 0 16px 20px 16px;
						}
						.progress-item{
							margin-bottom: 16px;
						}
					}
				}
			}
			.course-head-right{
				width: 100%;
				padding: 47px 15px 43px;
				.chr-title{
					font-size: 16px;
					line-height: 28px;
					margin-bottom: 0;
				}
				.chr-content{
					font-size: 26px;
					line-height: 28px;
					margin-bottom: 24px;
					&:last-of-type{
						margin-bottom: 32px;
					}
				}
			}
		}
		.course-about{
			padding: 51px 0 110px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 21px;
			}
			article{
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
			button{
				margin-top: 51px;
				width: 100%;
			}
			.col-md-4{
				margin-top: 47px;
				p{
					&:nth-of-type(1){

					}
				}
			}
		}
		.course-advantages{
			overflow: hidden;
			padding-bottom: 110px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 49px;
			}
			img{
				margin-bottom: 25px;
			}
			.title{
				font-size: 22px;
				line-height: 22px;
				margin-bottom: 13px;
			}
			.row{
				width: 500px;
				flex-wrap: nowrap;
			}
			.text{
				margin-bottom: 0;
			}
			.slick-dots{
				width: 100vw;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 0;
				margin-top: 42px;
				list-style: none;
				color: rgba(0,0,0,0);
				li{
					margin-right: 7px;
					&:last-of-type{
						margin-right: 0;
					}
					&.slick-active{
						button{
							width: 47px;
							background: #F579D3!important;
							border-radius: 100px;
							opacity: 1;
						}
					}
				}
				button{
					outline: none !important;
					box-shadow: none !important;
					border: none !important;
					color: rgba(0,0,0,0);
					height: 8px;
					width: 8px;
					background: rgba(245, 121, 211, 0.62)!important;
					opacity: 0.8;
					border-radius: 50%;
					font-size: 0;
				}
			}
			.course-advantages-btn{
				width: 100%;
				margin-top: 52px;
			}
		}
		.course-program{
			padding-bottom: 110px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 38px;
			}
			.course-program-item{
				padding: 23px;
				flex-direction: column;
				&:last-of-type{
					margin-bottom: 38px;
				}
				.task{
					font-size: 12px;
					line-height: 24px;	
					margin-bottom: 0;
				}
				.title{
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 0;
					padding-right: 24px;
				}
				.text{
					font-size: 14px;
					line-height: 21px;
					margin-top: 23px;
				}
				.minus, .plus{
					top: 29px;
					right: 24px;
				}
			}
			button{
				width: 100%;
			}
		}
		.course-reviews{
			padding-bottom: 80px;
			padding-top: 50px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 38px;
			}
			.course-reviews-wrap{
				width: 150vw;
				.cr-item{
					padding: 30px 20px;
					flex-direction: column;
					figure{
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}