.post-template-about-teacher{
	.teacher-preview{
		display: flex;
		background: #92A5F4;
		.teacher-img-wrap{
			width: 34%;
			figure{
				width: 100%;
				margin: 0;
				&:after{
				  content: "";
				  display: block;
				  padding-bottom: 100%;
				}
			}
		}
		.teacher-preview-text{
			width: 66%;
			padding: 54px 64px;
			.position{
				font-family: $gilroyMedium;
				font-size: 18px;
				line-height: 28px;
				color: $white;
				margin-bottom: 14px;
			}
			.name{
				font-size: 36px;
				line-height: 28px;
				color: $white;
				font-family: $gilroyExtraBold;
				margin-bottom: 37px;
			}
			.text{
				font-size: 16px;
				line-height: 24px;
				color: $white;
				font-family: $gilroy;
				margin-bottom: 37px;
			}
			.teacher-soc{
				display: flex;
				align-items: center;
				a{
					display: block;
					margin-right: 21px;
					&:last-of-type{
						margin-right: 0;
					}
					svg{
						height: 38px;
						width: 38px;
					}
					&.bt-ig{
						height: 38px;
						width: 38px;
						background: $white;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						svg{
							width: 18px;
							height: 16.42px;
						}
					}
				}
			}
		}
	}
	.teacher-about{
		padding: 95px 0 70px;
		h2{
			font-size: 44px;
			line-height: 64px;
			font-family: $gilroyBold;
			color: $black;
			margin-bottom: 23px;
		}
		article{
			max-height: 263px;
			overflow-y: auto;
			padding-right: 40px;
			p{
				margin-bottom: 0;
				font-size: 18px;
				line-height: 27px;
				color: $black;
				font-family: $gilroy;
			}
			&::-webkit-scrollbar {
			  width: 10px;
			}
			&::-webkit-scrollbar-track {
			  background: #F0F1F2;
			  border-radius: 100px;
			}
			&::-webkit-scrollbar-thumb {
			  background: #8B939C;
			  border-radius: 100px;
			}
			&::-webkit-scrollbar-thumb:hover {
			  background: #8B939C;
			  border-radius: 100px;
			}

		}
		.col-md-4{
			p{
				&:nth-of-type(1){
					font-size: 18px;
					line-height: 28px;
					color: $black;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(2){
					font-size: 50px;
					line-height: 34px;
					color: $black;
					font-family: $gilroyExtraBold;
					margin-bottom: 80px;
				}
				&:nth-of-type(3){
					font-size: 18px;
					line-height: 28px;
					color: $black;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(4){
					font-size: 50px;
					line-height: 34px;
					color: $black;
					font-family: $gilroyExtraBold;
					margin-bottom: 27px;
				}
			}
		}
	}
	.block-teacher-course{
		padding-bottom: 20px;
		h2{
			color: #353B44;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 73px;
		}
		.teacher-course-slider{
			position: relative;
			.teacher-course-item{
				margin-bottom: 60px;
				display: flex;
				text-decoration: none !important;
				outline: none !important;
				box-shadow: none !important;
				figure{
					margin: 0;
					display: block;
					position: relative;
					width: 365px;
					height: 283px;
					margin-right: 29px;
					.star-wrap{
						height: 68px;
						width: 68px;
						background: #AFCD5F;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						font-size: 16px;
						line-height: 19px;
						color: $white;
						font-family: $gilroyBold;
						position: absolute;
						top: 20px;
						left: 20px;
						svg{
							height: 16.8px;
							width: 16.77px;
							fill: $white;
							display: block;
							margin: 0 auto 5px;
						}
					}
					.queue-left{
						padding: 5px 10px;
						background: #66C3D0;
						border-radius: 4px;
						font-size: 12px;
						line-height: 27px;
						color: $white;
						font-family: $gilroyBold;
						display: inline-block;
						position: absolute;
						bottom: 39px;
						right: -10px;
					}
				}
				.courses-item-content{
					flex: 1;
					.cic-cfg{
						display: flex;
						justify-content: space-between;
						width: 100%;
						margin-bottom: 24px;
						.cic-cfg-item{
							display: flex;
							align-items: center;
							font-size: 16px;
							line-height: 27px;
							color: #919DAA;
							svg{
								margin-right: 8px;
							}
						}
					}
					.cic-row{
						display: flex;
						justify-content: space-between;
						.cic-text{
							.cic-title{
								font-size: 28px;
								line-height: 29px;
								color: $black;
								font-family: $gilroyBold;
								margin-bottom: 23px;
							}
							ul{
								list-style: none;
								width: 370px;
								margin-bottom: 0;
								li{
									position: relative;
									font-size: 16px;
									line-height: 24px;
									color: #50575F;
									font-family: $gilroy;
									padding-left: 26px;
									margin-bottom: 14px;
									&:last-of-type{
										margin-bottom: 0;
									}
									&:before{
										background: #73A7F0;
										height: 8px;
										width: 8px;
										position: absolute;
										top: 8px;
										left: 0;
										content: '';
										border-radius: 50%;
									}
								}
							}
						}
						.cic-btns{
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 249px;
							.btn-cic-sign{
								background: #F579D3;
								border-radius: 100px;
								outline: none !important;
								box-shadow: none !important;
								border: none !important;
								height: 48px;
								width: 249px;
								display: flex;
								align-items: center;
								justify-content: center;
								cursor: pointer;
								color: $white;
								font-family: $gilroy;
								font-size: 16px;
								line-height: 19px;
								margin-bottom: 24px;
								transition: 0.3s;
								&:hover{
									background: #f3afd4;
									transition: 0.3s;
								}
							}
							.cic-timetable{
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: 16px;
								line-height: 19px;
								letter-spacing: 0.01em;
								text-transform: uppercase;
								color: #73A7F0;
								font-family: $gilroyBold;
								text-decoration: none !important;
								margin-bottom: auto;
								svg{
									margin-left: 10px;
									height: 13px;
									width: auto;
								}
							}
							.cic-location{
								display: inline-block;
								padding: 8px 25px;
								background: rgba(142, 184, 243, 0.1);
								border-radius: 100px;
								font-size: 13px;
								line-height: 15px;
								font-family: $gilroyMedium;
								margin: 0;
								color: #73A7F0;
							}
						}
					}
				}
			}
			.slick-prev{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -122px;
				right: 63px;
			}
			.slick-next{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -122px;
				right: 0;
			}
			.slick-prev, .slick-next{
				&.slick-disabled{
					opacity: .27;
				}
			}
		}
	}
	.block-teacher-works{
		overflow: hidden;
		padding-bottom: 80px;
		h2{
			color: #353B44;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 48px;
		}
		.teacher-works-slider-wrap{
			width: 100vw;
		}
		.row{
			position: relative;
			flex-wrap: nowrap;
			.col-md-5{
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
				figure{
					height: 318px;
					margin: 0;
				}
			}
			.slick-prev{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -97px;
				left: 1100px;
			}
			.slick-next{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -97px;
				left: 1163px;
			}
			.slick-prev, .slick-next{
				&.slick-disabled{
					opacity: .27;
				}
			}
		}
	}

}

@media only screen and (max-width: 1245px){
	.post-template-about-teacher{
		.teacher-preview{
			.teacher-img-wrap{
				width: 40%;
			}
			.teacher-preview-text{
				width: 60%;
				padding: 15px 20px;
				.position{
					margin-bottom: 10px;
				}
				.name{
					margin-bottom: 20px;
				}
				.text{
					margin-bottom: 20px;
				}
			}
		}
		.block-teacher-works{
			.row{
				.slick-prev{
					left: 845px;
				}
				.slick-next{
					left: 908px;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.post-template-about-teacher{
		.teacher-preview{
			.teacher-img-wrap{
				figure{
					height: 100%;
					&:after{
						display: none;
					}
				}
			}
			.teacher-preview-text{
				.position{
					font-size: 16px;
					line-height: 24px;
				}
				.name{
					font-size: 28px;
					line-height: 32px;
				}
				.text{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		.block-teacher-course{
			.teacher-course-slider{
				.teacher-course-item{
					figure{
						.queue-left{
							right: 0;
						}
					}
					.courses-item-content{
						.cic-cfg{
							.cic-cfg-item{
								&:nth-of-type(2), &:nth-of-type(4){
									display: none;
								}
							}
						}
						.cic-row{
							flex-direction: column;
							.cic-btns{
								width: 100%;
								flex-direction: row-reverse;
								justify-content: space-between;
								margin-top: 24px;
								.btn-cic-sign{
									display: none;
								}
								.cic-timetable{
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
		.block-teacher-works{
			.row{
				.slick-prev{
					left: calc(100vw - 15px - 15px - 37px - 37px - 26px);
				}
				.slick-next{
					left: calc(100vw - 15px - 15px - 37px);
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.post-template-about-teacher{
		.teacher-preview{
			flex-direction: column;
			.teacher-img-wrap{
				width: 100%;
				figure{
					height: auto;
					&:after{
						display: block;
					}
				}
			}
			.teacher-preview-text{
				width: 100%;
				padding: 20px;
			}
		}
		.teacher-about{
			padding: 51px 0 110px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 21px;
			}
			article{
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
			.col-md-4{
				margin-top: 47px;
				p{
					&:nth-of-type(2){
						margin-bottom: 40px;
					}
				}
			}
		}
		.block-teacher-course{
			padding-bottom: 50px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 40px;
				width: calc(100% - 100px);
			}
			.teacher-course-slider{
				.teacher-course-item{
					flex-direction: column;
					figure{
						height: auto;
						width: 100%;
						margin-bottom: 10px;
						&:after{
							content: '';
							display: block;
							padding-bottom: 100%;
						}
					}
					.courses-item-content{
						.cic-cfg{
							margin-bottom: 13px;
						}
						.cic-row{
							.cic-text{
								width: 100%;
								.cic-title{
									font-size: 24px;
									line-height: 29px;
								}
								ul{
									width: 100%;
									margin-bottom: 24px;
									li{
										font-size: 16px;
										line-height: 24px;
										margin-bottom: 14px;
									}
								}
							}
							.cic-btns{
								width: 100%;
								margin-top: 0;
							}
						}
					}
				}
				.slick-prev, .slick-next{
					top: -77px;
				}
			}
		}
		.block-teacher-works{
			padding-bottom: 50px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 40px;
				width: calc(100% - 100px);
			}
			.teacher-works-slider-wrap{
				width: 150vw;
			}
			.row{
				.col-md-5{
					figure{
						height: 190px;
					}
				}
			}
			.row{
				.slick-prev, .slick-next{
					top: -77px;
				}
			}
		}
	}
}