.post-template-about-lecture{
	.video-wrap{
		background: $white;
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		&.show{
			display: block;
		}
		.btn-video-wrap-close{
			position: absolute;
			top: 0;
			right: 0;
			height: 23px;
			width: 23px;
			cursor: pointer;
			background: $white;
			z-index: 5;
		}
		.video-handler{
			flex: 1;
			position: relative;
			overflow: hidden;
			max-width: 100%;
			height: 100%;
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.video-head{
		display: flex;
		min-height: 510px;
		width: 100%;
		.video-head-left{
			position: relative;
			width: 65%;
			padding: 17px 31px 63px 55px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.21);
			}
			.text-video-wrap{
				display: flex;
				z-index: 1;
				position: relative;
				h1{
					font-size: 46px;
					line-height: 57px;
					color: $white;
					font-family: $gilroyExtraBold;
					margin: 0;
				}
				.trailer-desktop{
					display: flex;
					position: relative;
					justify-content: flex-end;
					margin-top: 20px;
					figure{
						width: 163px;
						height: 103.85px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0;
						cursor: pointer;
						svg{
							height: 29px;
							width: 29px;
						}
					}
					.text{
						color: $white;
						font-size: 14px;
						font-family: $gilroy;
						line-height: 21px;
						display: flex;
						margin-left: 10px;
						span{
							margin-right: 10px;
						}
					}
				}
			}
		}
		.video-head-right{
			width: 35%;
			background: #F579D3;
			padding: 54px 48px 45px;
			.chr-title{
				font-size: 18px;
				line-height: 28px;
				color: $white;
				font-family: $gilroy;
				margin-bottom: 6px;
			}
			.chr-content{
				font-size: 28px;
				line-height: 28px;
				color: $white;
				font-family: $gilroyExtraBold;
				margin-bottom: 30px;
				&:last-of-type{
					margin-bottom: 25px;
				}
			}
			button{
				width: 100%;
				padding: 14px;
				background: #FFFFFF;
				border-radius: 100px;
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				color: #F579D3;
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
				cursor: pointer;
				margin-bottom: 24px;
			}
			.chr-question{
				display: flex;
				align-items: center;
				font-family: $gilroyBold;
				justify-content: center;
				font-size: 16px;
				line-height: 19px;
				color: $white;
				text-decoration: none !important;
				text-transform: uppercase;
				letter-spacing: 0.01em;
				cursor: pointer;
				svg{
					height: 19px;
					width: 19px;
					margin-left: 9px;
					display: block;
				}
			}
		}
	}
	.video-about{
		padding: 50px 0 75px;
		h2{
			font-size: 44px;
			line-height: 64px;
			font-family: $gilroyBold;
			color: $black;
			margin-bottom: 23px;
		}
		article{
			max-height: 250px;
			overflow-y: auto;
			padding-right: 40px;
			p{
				margin-bottom: 0;
				font-size: 18px;
				line-height: 27px;
				color: $black;
				font-family: $gilroy;
			}
			&::-webkit-scrollbar {
			  width: 10px;
			}
			&::-webkit-scrollbar-track {
			  background: #F0F1F2;
			  border-radius: 100px;
			}
			&::-webkit-scrollbar-thumb {
			  background: #8B939C;
			  border-radius: 100px;
			}
			&::-webkit-scrollbar-thumb:hover {
			  background: #8B939C;
			  border-radius: 100px;
			}

		}
		button{
			background: #F579D3;
			border-radius: 100px;
			padding: 14px;
			width: 223px;
			text-align: center;
			font-size: 16px;
			line-height: 19px;
			font-family: $gilroy;
			color: $white;
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			margin: 49px 0 0;
			transition: 0.3s;
			&:hover{
				background: #f3afd4;
				transition: 0.3s;
			}
		}
		.col-md-4{
			p{
				&:nth-of-type(1){
					font-size: 18px;
					line-height: 28px;
					color: #585F65;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(2){
					font-size: 50px;
					line-height: 34px;
					color: #2D3034;
					font-family: $gilroyExtraBold;
					margin-bottom: 40px;
				}
				&:nth-of-type(3){
					font-size: 18px;
					line-height: 28px;
					color: #585F65;
					font-family: $gilroyMedium;
					margin-bottom: 13px;
				}
				&:nth-of-type(4){
					font-size: 50px;
					line-height: 34px;
					color: #2D3034;
					font-family: $gilroyExtraBold;
					margin-bottom: 27px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1245px){
	.post-template-about-lecture{
		.video-head{
			.video-head-left{
				width: 60%;
				.text-video-wrap{
					.trailer-desktop{
						display: none;
					}
				}
			}
			.video-head-right{
				width: 40%;
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.post-template-about-lecture{
		.video-head{
			.video-head-left{
				width: 60%;
				padding: 17px 31px 45px;
				.text-video-wrap{
					h1{
						font-size: 42px;
						line-height: 53px;
					}
					.trailer-desktop{
						display: none;
					}
				}
			}
			.video-head-right{
				width: 40%;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.post-template-about-lecture{
		.video-head-container{
			padding: 0;
		}
		.video-head{
			min-height: 0;
			flex-direction: column;
			.video-head-left{
				width: 100%;
				padding: 16px 15px 62px;
			}
			.video-head-right{
				width: 100%;
				padding: 47px 15px 43px;
				.chr-title{
					font-size: 16px;
					line-height: 28px;
					margin-bottom: 0;
				}
				.chr-content{
					font-size: 26px;
					line-height: 28px;
					margin-bottom: 24px;
					&:last-of-type{
						margin-bottom: 32px;
					}
				}
			}
		}
		.video-about{
			padding: 51px 0 40px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 21px;
			}
			article{
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
			button{
				margin-top: 51px;
				width: 100%;
			}
			.col-md-4{
				margin-top: 47px;
				p{
					&:nth-of-type(1){

					}
				}
			}
		}
	}
}