.post-template-single{
	.page-article-wrap{
	 	margin-bottom: 61px;
	 	.btn-article-back{
	 		font-family: $gilroyBold;
	 		font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #73A7F0;
			margin-bottom: 22px;
			display: flex;
			align-items: center;
			text-decoration: none !important;
			svg{
				height: 19px;
				width: 19px;
				margin-right: 9px;
				display: block;
			}
	 	}
	 	h1{
	 		font-size: 52px;
			line-height: 64px;
			color: $black;
			font-family: $gilroyExtraBold;
			margin-bottom: 46px;
	 	}
	 	img{
	 		max-width: 100%;
	 		height: auto;
	 		margin-bottom: 33px;
			display: block;
			margin-left: auto;
			margin-right: auto;
	 	}
	 	.date{
	 		font-size: 16px;
			line-height: 27px;
			color: #919DAA;
			margin-bottom: 49px;
	 	}
	 	.excerpt{
	 		font-size: 24px;
			line-height: 36px;
			font-family: $gilroyItalic;
			color: $black;
			margin-bottom: 49px;
	 	}
	 	article{
	 		overflow: hidden;
			font-size: 18px;
			line-height: 27px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 30px;
			b, strong{
				font-family: $gilroyBold;
				i{
					font-family: $gilroyBoldItalic;
				}
			}
			i{
				font-family: $gilroyItalic;
				b, strong{
					font-family: $gilroyBoldItalic;
				}
			}
	 		p{
	 			font-size: 18px;
				line-height: 27px;
				color: $black;
				font-family: $gilroy;
				margin-bottom: 30px;
				b, strong{
					font-family: $gilroyBold;
					i{
						font-family: $gilroyBoldItalic;
					}
				}
				i{
					font-family: $gilroyItalic;
					b, strong{
						font-family: $gilroyBoldItalic;
					}
				}
	 		}
	 		h2{
	 			font-size: 26px;
				line-height: 34px;
				font-family: $gilroyExtraBold;
				color: $black;
				margin-bottom: 30px;
	 		}
	 		ul, ol{
	 			margin-left: 20px;
	 			margin-bottom: 66px;
	 			li{
	 				font-size: 18px;
					line-height: 27px;
					color: #18191B;
					font-family: $gilroy;
					margin-bottom: 22px;
					&:last-of-type{
						margin-bottom: 0;
					}
					b, strong{
						font-family: $gilroyBold;
						i{
							font-family: $gilroyBoldItalic;
						}
					}
					i{
						font-family: $gilroyItalic;
						b, strong{
							font-family: $gilroyBoldItalic;
						}
					}
	 			}
	 		}
	 		.article-img, .wp-caption{
	 			margin-bottom: 27px;
				width: 100%!important;
	 			img{
	 				margin-bottom: 0;
	 				max-width: 100%;
	 				height: auto;
	 			}
				p, .wp-caption-text{
					font-size: 16px;
					line-height: 27px;
					font-family: $gilroyLightItalic;
					margin-bottom: 0;
					margin-top: 15px;
					color: #48535F;
				}
	 		}
	 	}
	 	.tags-wrap{
	 		display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			white-space: nowrap;
			&::-webkit-scrollbar, &::-webkit-scrollbar-button, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-corner, &::-webkit-resizer{
				display: none;
			}
			p{
				font-size: 16px;
				line-height: 19px;
				color: #757F8A;
				margin-right: 40px;
				border-bottom: dashed 1px #757F8A;
				margin-bottom: 28px;
				text-decoration: none !important;
			}
	 	}
	 	.share{
	 		font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #201E1E;
			font-family: $gilroyBold;
			display: flex;
			align-items: center;
			a{
				display: block;
				margin-left: 16px;
				&:first-of-type{
					margin-left: 28px;
				}
				svg{
					height: 38px;
					width: 38px;
				}
				&.bt-ig{
					height: 38px;
					width: 38px;
					background: #FFA4E5;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					svg{
						width: 18px;
						height: 16.42px;
					}
				}
			}
	 	}
	 }
	.similar-article{
		padding-bottom: 65px;
		h2{
			color: $black;
			font-family: $gilroyBold;
			font-size: 44px;
			line-height: 64px;
			margin-bottom: 48px;
		}
		.row{
			position: relative;
			.slick-list{
				padding-left: 5px;
				padding-right: 5px;
			}
			.col-12{
				text-decoration: none !important;
				outline: none !important;
				box-shadow: none;
				margin-top: 5px;
				margin-bottom: 5px;
				padding-top: 15px;
				padding-bottom: 15px;
				transition: 0.3s;
				&:hover{
					transition: 0.3s;
					box-shadow: 0 0 5px rgba(0,0,0,0.25);
				}
			}
			figure{
				width: 100%;
				height: 253px;
				margin: 0 0 13px;
			}
			.date{
				font-size: 14px;
				line-height: 27px;
				color: #919DAA;
				margin-bottom: 5px;
			}
			.title{
				font-size: 26px;
				line-height: 34px;
				font-family: $gilroyExtraBold;
				color: $black;
				margin-bottom: 7px;
			}
			.description{
				font-size: 16px;
				line-height: 24px;
				color: $black;
				margin-bottom: 0;
			}
			a{
				text-decoration: none !important;
				outline: none !important;
				box-shadow: none !important;
			}
			.slick-prev{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -100px;
				right: 63px;
			}
			.slick-next{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -100px;
				right: 10px;
			}
			.slick-prev, .slick-next{
				&.slick-disabled{
					opacity: .27;
				}
			}
		}
	}
	.article-hr{
		margin: 0;
		border-top: 1px solid #CEDAE6;
	}
}

@media screen and (max-width: 767px){
	.post-template-single{
		.page-article-wrap{
			margin-bottom: 80px;
			h1{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 40px;
			}
			img{
				margin-bottom: 20px;
			}
			.date{
				font-size: 14px;
				margin-bottom: 25px;
			}
			.excerpt{
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 25px;
			}
			article{
				p{
					font-size: 14px;
					margin-bottom: 20px;
				}
				h2{
					font-size: 20px;
					line-height: 27px;
					margin-bottom: 20px;
				}
				ul, ol{
					margin-bottom: 20px;
					li{
						font-size: 14px;
						margin-bottom: 15px;
					}
				}
				.article-img{
					margin-bottom: 20px;
					p{
						font-size: 14px;
						margin-top: 10px;
					}
				}
			}
			.tags-wrap{
				p{
					margin-right: 20px;
				}
			}
		}
		.similar-article{
			padding-bottom: 50px;
			h2{
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 38px;
			}
			.row{
				.slick-next, .slick-prev{
					top: -73px;
				}
			}
		}
	}
}