.page-template-contacts{
	.contacts-hr{
		border-top: 1px solid #CEDAE6;
		margin: 0;
	}
	.contacts-page-wrap{
		padding-bottom: 67px;
	}
	h1{
		font-size: 52px;
		line-height: 64px;
		font-family: $gilroyExtraBold;
		margin-bottom: 42px;
		color: $black;
	}
	.map-wrap{
		position: relative;
		margin-bottom: 39px;
		display: none;
		&.active{
			display: block;
		}
		iframe, #map1, #map2{
			height: 463px;
			width: 100%;
		}
		.map-contacts{
			position: absolute;
			bottom: 295px;
			transform: translateX(-50%);
			left: 50%;
			background: $white;
			padding: 24px 28px;
			min-width: 243px;
			&:before{
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%,-50%) rotate(45deg);
				height: 24px;
				width: 24px;
				background: $white;
				content: '';
			}
			.city{
				font-size: 24px;
				line-height: 26px;
				margin-bottom: 5px;
				color: $black;
				font-family: $gilroyBold;
			}
			.street{
				font-size: 16px;
				line-height: 26px;
				color: $black;
				font-family: $gilroyMedium;
				margin-bottom: 5px;
			}
			.time{
				margin-bottom: 0;
				font-size: 14px;
				line-height: 26px;
				color: $black;
				font-family: $gilroy;
			}
		}
	}
	.btn-city{
		padding: 8px 28px;
		background: rgba(172, 203, 247, 0.14);
		border-radius: 4px;
		display: inline-block;
		font-size: 18px;
		line-height: 26px;
		color: #8EB8F3;
		font-family: $gilroyBold;
		margin-bottom: 13px;
		cursor: pointer;
		&.active{
			background: #8EB8F3;
			color: $white;
		}
	}
	.street{
		font-size: 16px;
		line-height: 26px;
		color: $black;
		font-family: $gilroyMedium;
		margin-bottom: 12px;
	}
	.phone, .mail{
		font-size: 16px;
		line-height: 33px;
		color: $black;
		font-family: $gilroy;
		margin: 0;
		a{
			text-decoration: none !important;
			color: $black !important;
		}
	}
	.contacts-title{
		font-size: 18px;
		line-height: 26px;
		color: $black;
		font-family: $gilroyBold;
		margin-bottom: 22px;
	}
	.contacts-soc-row{
		display: flex;
		align-items: center;
		margin-bottom: 47px;
		a{
			display: block;
			margin-right: 22px;
			&:last-of-type{
				margin-right: 0;
			}
			svg{
				height: 49px;
				width: 49px;
			}
			&.bt-ig{
				height: 49px;
				width: 49px;
				background: #FFA4E5;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				svg{
					width: 21.62px;
					height: 23.97px;
				}
			}
		}
	}
	.contacts-write{
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #73A7F0;
		font-family: $gilroyBold;
		display: flex;
		align-content: center;
		cursor: pointer;
		text-decoration: none !important;
		svg{
			display: block;
			margin-left: 11px;
			height: 19px;
			width: 19px;
		}
	}
}

@media only screen and (max-width: 767px){
	.page-template-contacts{
		.contacts-page-wrap{
			padding-bottom: 80px;
		}
		h1{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 20px;
		}
		.map-wrap{
			margin-bottom: 20px;
		}
		.mail{
			margin-bottom: 30px;
		}
		.contacts-soc-row{
			margin-bottom: 20px;
		}
	}
}