.header-mob{
	display: none;
	z-index: 10;
}

header{
	padding: 30px 0 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: $white;
	.header-info{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.lang-change-wrap{
			display: none;
		}
		.logo{
			display: block;
			img{
				height: 29px;
				width: auto;
				margin: 0;
			}
		}
		.phone{
			display: block;
			text-decoration: none !important;
			font-size: 24px;
			line-height: 28px;
			color: $black;
			font-family: $gilroy;
		}
		.soc-recall{
			display: flex;
			align-items: center;
			.soc{
				display: block;
				margin-right: 11px;
				&:nth-of-type(2){
					margin-right: 13px;
				}
			}
			.recall{
				color: #939EAA!important;
				font-size: 16px;
				line-height: 19px;
				font-family: $gilroyMedium;
				text-transform: uppercase;
				cursor: pointer;
				margin: 0;
				text-decoration: none!important;
			}
		}
		.login{
			padding: 11px 31px;
			background: #EEF4FB;
			text-decoration: none !important;
			cursor: pointer;
			outline: none !important;
			border: none !important;
			box-shadow: none !important;
			border-radius: 4px;
			color: #8EB8F3;
			font-size: 16px;
			line-height: 19px;
			font-family: $gilroyMedium;
		}
	}
	hr{
		margin: 25px 0 0;
		border-top: 1px solid #E4EBF2;
	}
	.header-nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		ul.menu{
			flex: 1;
			margin-right: 97px;
		}
		ul{
			margin: 0;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			li{
				padding: 25px 0 30px;
				position: relative;
				//margin-right: 97px;
				&:first-of-type{
					ul{
						height: 477px;
					}
				}
				&.has-child, &.menu-item-has-children{
					a{
						position: relative;
						padding-right: 15px;
						&:after{
							content: "";
							background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath d='M3.646 4.354a.5.5 0 00.708 0l3.182-3.182a.5.5 0 10-.708-.708L4 3.293 1.172.464a.5.5 0 10-.708.708l3.182 3.182zM3.5 3.5V4h1v-.5h-1z' fill='%23000'/%3E%3C/svg%3E");
							height: 6px;
							width: 10px;
							display: block;
							position: absolute;
							transform: translateY(-50%);
							top: 50%;
							right: 0;
						}
					}
					&:hover, &.show-submenu{
						ul{
							display: block;
							li{
								ul{
									display: none;
								}
							}
						}
					}
					ul{
						display: none;
						background: #FFFFFF;
						box-shadow: 0px 4px 14px rgba(77, 82, 88, 0.17);
						position: absolute;
						left: 0;
						top: 60px;
						width: 396px;
						z-index: 4;
						li{
							width: 100%;
							padding: 0;
							a{
								line-height: 53px;
								font-size: 16px;
								padding: 0 32px;
								display: block;
								transition: 0.3s;
								&:after{
									display: none;
								}
								&:hover{
									color: $white;
									background: #F579D3;
									transition: 0.3s;
								}
							}
							ul{
								transform: translateX(396px);
								width: 542px;
								top: -106px;
								background: #F7F9FD;
							}
							&:hover{
								ul{
									display: block;
								}
							}
						}
					}
				}
				a{
					font-size: 16px;
					color: $black;
					font-family: $gilroy;
					text-decoration: none;
					text-decoration-color: $white;
					transition: 0.3s;
					&:hover{
						text-decoration: underline;
						text-decoration-color: #f579d3;
						transition: 0.3s;
					}
				}
			}
		}
		.lang-change-wrap{
			position: relative;
			z-index: 2;
			width: 65px;
			height: 36px;
			margin-left: 30px;
		}
		.lang-change{
			list-style: none;
			background: #A6C8F9;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			top: 0;
			left: 0;
			&.deactivated{
				.lang-item{
					display: none;
					&.current-lang{
						display: block;
					}
				}
			}
			.lc-holder{
				top: 0;
				right: 0;
				left: 0;
				height: 36px;
				z-index: 3;
				position: absolute;
				cursor: pointer;
			}
			.lang-item{
				position: relative;
				background: #A6C8F9;
				border-radius: 100px;
				width: 65px;
				padding: 6px 0 6px 16px;
				cursor: pointer;
				a{
					text-decoration: none!important;
					color: $white;
					font-size: 16px;
					line-height: 19px;
					font-family: $gilroy;
				}
				&.current-lang{
					order: -1;
					&:after{
						content: "";
						background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath d='M3.646 4.354a.5.5 0 00.708 0l3.182-3.182a.5.5 0 10-.708-.708L4 3.293 1.172.464a.5.5 0 10-.708.708l3.182 3.182zM3.5 3.5V4h1v-.5h-1z' fill='%23fff'/%3E%3C/svg%3E");
						height: 6px;
						width: 10px;
						display: block;
						position: absolute;
						transform: translateY(-50%);
						top: 50%;
						right: 10px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1245px){
	header{
		.header-info{
			.logo{
				img{
					height: 24px;
				}
			}
			.phone{
				font-size: 24px;
				line-height: 28px;
			}
		}
		.header-nav{
			ul.menu{
				margin-right: 30px;
			}
			ul{
				li{
					//margin-right: 60px;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	header{
		.header-info{
			.logo{
				img{
					height: 14px;
				}
			}
			.phone{
				font-size: 16px;
				line-height: 19px;
			}
			.login{
				padding: 11px;
			}
		}
		.header-nav{
			ul.menu{
				margin-right: 0;
			}
			ul{
				li{
					//margin-right: 25px;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px) and (min-width: 768px){
	header{
		.header-nav{
			flex-direction: column;
			ul.menu{
				width: 100%;
			}
			ul{
				li{
					padding-bottom: 15px;
					a{
						font-size: 14px;
					}
				}
			}
			.lang-change-wrap{
				margin-bottom: 15px;
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	header{
		top: 80px;
		height: calc(100vh - 80px);
		overflow-y: auto;
		display: none;
		.container{
			display: flex;
			flex-direction: column-reverse;
		}
		.header-info{
			flex-direction: column;
			margin-top: 49px;
			.logo{
				display: none;
			}
			.phone{
				font-size: 24px;
				line-height: 28px;
				margin: 0 0 21px;
				&:nth-of-type(2){
					margin: 0 0 31px;
				}
			}
			.soc-recall{
				margin-bottom: 63px;
			}
			.login{
				width: 201px;
				text-align: center;
				margin-bottom: 28px;
			}
			.lang-change-wrap{
				display: none;
			}
			.lang-change{
				margin-bottom: 67px;
				.lang{
					position: relative;
					background: #A6C8F9;
					border-radius: 100px;
					color: $white;
					font-size: 16px;
					line-height: 19px;
					font-family: $gilroy;
					width: 65px;
					padding: 6px 0 6px 16px;
					cursor: pointer;
					&:after{
						content: "";
						background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath d='M3.646 4.354a.5.5 0 00.708 0l3.182-3.182a.5.5 0 10-.708-.708L4 3.293 1.172.464a.5.5 0 10-.708.708l3.182 3.182zM3.5 3.5V4h1v-.5h-1z' fill='%23fff'/%3E%3C/svg%3E");
						height: 6px;
						width: 10px;
						display: block;
						position: absolute;
						transform: translateY(-50%);
						top: 50%;
						right: 10px;
					}
				}
			}
		}
		hr{
			display: none;
		}
		.header-nav{
			flex-direction: column;
			ul{
				flex-direction: column;
				align-items: center;
				width: 100%;
				li{
					margin-right: 0;
					padding: 24px 0;
					text-align: center;
					&.has-child, &.menu-item-has-children{
						position: relative;
						right: -7.5px;
						ul{
							position: relative;
							top: 0;
							transform: none;
							box-shadow: none;
							padding-top: 19px;
							height: auto;
							width: 100%;
							left: -7.5px;
							li{
								a{
									font-size: 15px;
									line-height: 50px;
								}
								ul{
									height: auto;
									width: 100%;
								}
							}
						}
						&:hover{
							ul{
								display: none;
							}
						}
						&.show-submenu{
							ul{
								display: block;
							}
						}
						&.show-submenu{
							padding-bottom: 0;
							a{
								color: #73A7F0;
								&:after{
									background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath d='M3.646.146a.5.5 0 01.708 0l3.182 3.182a.5.5 0 11-.708.708L4 1.207 1.172 4.036a.5.5 0 11-.708-.708L3.646.146zM3.5 1V.5h1V1h-1z' fill='%2373A7F0'/%3E%3C/svg%3E");
								}
							}
							ul{
								li{
									a{
										color: $black;
									}
								}
							}
						}
					}
				}
			}
			.lang-change-wrap{
				margin-left: 0;
			}
		}
		&.active{
			display: block;
		}
	}
	.header-mob{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		padding: 23px 0;
		background: $white;
		.container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.phone-btn{
			background: rgba(115, 167, 240, 0.12);
			width: 34px;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			svg{
				width: 15px;
				height: 14px;
			}
		}
		.logo{
			display: block;
			img{
				height: 24px;
				width: auto;
			}
		}
		.btn-menu{
			height: 15px;
			width: 25px;
			display: block;
		}
		.btn-menu-close{
			display: none;
			height: 15px;
			width: 15px;
			margin-left: 10px;
		}
		&.active{
			.btn-menu{
				display: none;
			}
			.btn-menu-close{
				display: block;
			}
		}
	}
}