footer{
	padding: 93px 0;
	.logo{
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		img{
			height: 49px;
		}
	}
	.copy{
		text-align: center;
		font-size: 12px;
		line-height: 29px;
		color: #6C7277;
		font-family: $gilroy;
		margin-bottom: 0;
	}
	.title{
		font-size: 16px;
		line-height: 19px;
		font-family: $gilroyBold;
		color: $black;
		margin-bottom: 23px;
	}
	ul{
		list-style: none;
		margin: 0;
		li{
			margin-bottom: 19px;
			font-size: 16px;
			line-height: 19px;
			color: $black;
			a{
				text-decoration: none !important;
				color: $black!important;
			}
		}
	}
	.btn-all-course{
		font-size: 16px;
		line-height: 19px;
		color: #202020;
		font-family: $gilroyMedium;
		margin: 0;
		display: flex;
		align-items: center;
		text-decoration: none !important;
		svg{
			height: 16px;
			width: 16px;
			display: block;
			margin-left: 10px;
		}
	}
	.btn-write{
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #73A7F0!important;
		font-family: $gilroyBold;
		display: flex;
		align-content: center;
		cursor: pointer;
		text-decoration: none!important;
		svg{
			display: block;
			margin-left: 11px;
			height: 19px;
			width: 19px;
		}
	}
	.soc-row{
		display: flex;
		align-items: center;
		margin-top: 16px;
		a{
			display: block;
			margin-right: 15px;
			&:last-of-type{
				margin-right: 0;
			}
			svg{
				height: 35px;
				width: 35px;
			}
		}
	}
}

@media only screen and (max-width: 992px){
	footer{
		.col-12{
			&:first-of-type{
				order: 1;
				margin-top: 56px;
			}
		}

	}
}

@media only screen and (max-width: 767px){
	footer{
		padding: 61px 0;
		.col-12{
			margin-bottom: 56px;
			&:first-of-type{
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.title{
			text-align: center;
		}
		ul{
			text-align: center;
		}
		.btn-all-course{
			justify-content: center;
		}
		.btn-write{
			justify-content: center;
			margin-top: 51px;
		}
		.soc-row{
			justify-content: center;
		}
	}
}