.modal-shadow{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(32, 32, 32, 0.33);
	z-index: 20;
	display: none;
	&.active{
		display: block;
	}
}

.modal-wrap-login{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	.login-body{
		padding: 58px 40px 70px;
		background: $white;
		position: relative;
		.btn-login-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.modal-title{
			font-size: 36px;
			line-height: 37px;
			color: $black;
			font-family: $gilroyBold;
			text-align: center;
			margin-bottom: 16px;
		}
		.modal-subtitle{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 31px;
			text-align: center;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
		input{
			background: #F2F7FB;
			border-radius: 100px;
			width: 378px;
			display: block;
			border: solid 1px #F2F7FB!important;
			outline: none !important;
			box-shadow: none !important;
			margin-bottom: 20px;
			padding: 16px 25px;
			color: $black;
			font-size: 14px;
			line-height: 16px;
			font-family: $gilroy;
			transition: 0.3s;
			&:focus{
				border: solid 1px #F579D3!important;
				transition: 0.3s;
			}
			&::placeholder{
				color: $black;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroy;
			}
			&:last-of-type{
				margin-bottom: 33px;
			}
		}
		.btn-login-send{
			background: #F579D3;
			border-radius: 100px;
			width: 378px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 15px;
			color: $white;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 27px;
			cursor: pointer;
			outline: none!important;
			box-shadow: none!important;
			border: none!important;
		}
		.modal-underbtn{
			text-align: center;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			span{
				cursor: pointer;
				color: #8EB8F3;
			}
		}
	}
	&.active{
		display: flex;
	}
}

.modal-wrap-reg{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	.reg-body{
		padding: 58px 40px 70px;
		background: $white;
		position: relative;
		.btn-reg-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.modal-title{
			font-size: 36px;
			line-height: 37px;
			color: $black;
			font-family: $gilroyBold;
			text-align: center;
			margin-bottom: 16px;
		}
		.modal-subtitle{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 31px;
			text-align: center;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
		input{
			background: #F2F7FB;
			border-radius: 100px;
			width: 378px;
			display: block;
			outline: none !important;
			box-shadow: none !important;
			margin-bottom: 20px;
			padding: 16px 25px;
			color: $black;
			font-size: 14px;
			line-height: 16px;
			font-family: $gilroy;
			border: solid 1px #F2F7FB!important;
			transition: 0.3s;
			&:focus{
				border: solid 1px #F579D3!important;
				transition: 0.3s;
			}
			&::placeholder{
				color: $black;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroy;
			}
			&:last-of-type{
				margin-bottom: 33px;
			}
		}
		.btn-reg-send{
			background: #F579D3;
			border-radius: 100px;
			width: 378px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 15px;
			color: $white;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 27px;
			cursor: pointer;
			outline: none!important;
			box-shadow: none!important;
			border: none!important;
		}
		.modal-underbtn{
			text-align: center;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			span{
				cursor: pointer;
				color: #8EB8F3;
			}
		}
	}
	&.active{
		display: flex;
	}
}

.modal-wrap-sign{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	.sign-body{
		padding: 58px 40px 0px;
		background: $white;
		position: relative;
		width: 457px;
		.btn-sign-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.fm-form-container.fm-theme1{
			width: 100%;
			.fm-form{
				.fm-header-bg{
					width: 100%;
				}
				.fm-header{
					width: 100%;
				}
				.fm-header-title{
					font-size: 36px;
					line-height: 37px;
					color: $black;
					font-family: $gilroyBold;
					text-align: center;
					margin-bottom: 16px;
				}
				.wdform-field{
					margin-bottom: 20px!important;
					padding: 0 !important;
				}
				input[type="text"]:not(.ui-spinner-input){
					border-color: #F2F7FB!important;
					height: auto;
					&:focus{
						border-color: #F579D3!important;
					}
				}
				input{
					background: #F2F7FB;
					border-radius: 100px!important;
					width: 100%;
					display: block;
					outline: none !important;
					box-shadow: none !important;
					margin-bottom: 0!important;
					padding: 16px 25px;
					color: $black;
					font-size: 14px;
					line-height: 16px;
					font-family: $gilroy;
					border: solid 1px #F2F7FB!important;
					transition: 0.3s;
					&:focus{
						border: solid 1px #F579D3!important;
						transition: 0.3s;
					}
					&::placeholder{
						color: $black;
						font-size: 14px;
						line-height: 16px;
						font-family: $gilroy;
					}
				}
				.button-submit{
					background: #F579D3!important;
					border-radius: 100px;
					width: 100%!important;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					padding: 15px;
					color: $white;
					font-size: 16px;
					line-height: 19px;
					margin-bottom: 27px;
					cursor: pointer;
					outline: none!important;
					box-shadow: none!important;
					border: none!important;
					margin-right: 0 !important;
				}
			}
		}
	}
	&.active{
		display: flex;
	}
}

.modal-wrap-lecture{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	.lecture-body{
		padding: 58px 40px 70px;
		background: $white;
		position: relative;
		.btn-lecture-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.modal-title{
			font-size: 36px;
			line-height: 37px;
			color: $black;
			font-family: $gilroyBold;
			text-align: center;
			margin-bottom: 6px;
		}
		.modal-middle-title{
			font-size: 26px;
			line-height: 37px;
			font-family: $gilroy;
			color: $black;
			margin-bottom: 20px;
			text-align: center;
		}
		.modal-subtitle{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 31px;
			text-align: center;
			max-width: 425px;
			margin-left: auto;
			margin-right: auto;
		}
		input{
			background: #F2F7FB;
			border-radius: 100px;
			width: 378px;
			display: block;
			outline: none !important;
			box-shadow: none !important;
			margin-bottom: 20px;
			padding: 16px 25px;
			color: $black;
			font-size: 14px;
			line-height: 16px;
			font-family: $gilroy;
			margin-left: auto;
			margin-right: auto;
			border: solid 1px #F2F7FB!important;
			transition: 0.3s;
			&:focus{
				border: solid 1px #F579D3!important;
				transition: 0.3s;
			}
			&::placeholder{
				color: $black;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroy;
			}
			&:last-of-type{
				margin-bottom: 33px;
			}
		}
		.btn-lecture-send{
			background: #F579D3;
			border-radius: 100px;
			width: 378px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 15px;
			color: $white;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 27px;
			cursor: pointer;
			outline: none!important;
			box-shadow: none!important;
			border: none!important;
			margin-left: auto;
			margin-right: auto;
		}
		.modal-underbtn{
			text-align: center;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			span{
				cursor: pointer;
				color: #8EB8F3;
			}
		}
	}
	&.active{
		display: flex;
	}
}

.modal-wrap-vacancyAdd{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	.vacancyAdd-body{
		padding: 58px 40px 70px;
		background: $white;
		position: relative;
		.btn-vacancyAdd-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.modal-title{
			font-size: 36px;
			line-height: 37px;
			color: $black;
			font-family: $gilroyBold;
			text-align: center;
			margin-bottom: 16px;
		}
		.modal-subtitle{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 31px;
			text-align: center;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
		.btn-vacancyAdd-send{
			background: #66C3D0;
			border-radius: 100px;
			width: 378px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 15px;
			color: $white;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 0;
			cursor: pointer;
			text-decoration: none !important;
		}
	}
	&.active{
		display: flex;
	}
}

.modal-wrap-resumeAdd{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	.resumeAdd-body{
		padding: 58px 40px 70px;
		background: $white;
		position: relative;
		.btn-resumeAdd-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.modal-title{
			font-size: 36px;
			line-height: 37px;
			color: $black;
			font-family: $gilroyBold;
			text-align: center;
			margin-bottom: 16px;
		}
		.modal-subtitle{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 31px;
			text-align: center;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
		.btn-resumeAdd-send{
			background: #699be0;
			border-radius: 100px;
			width: 378px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 15px;
			color: $white;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 0;
			cursor: pointer;
			text-decoration: none !important;
		}
	}
	&.active{
		display: flex;
	}
}

.modal-wrap-review{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	justify-content: center;
	display: none;
	.review-body{
		padding: 58px 40px 70px;
		background: $white;
		position: relative;
		overflow-y: auto;
		.btn-review-close{
			position: absolute;
			top: 26px;
			right: 26px;
			height: 23px;
			width: 23px;
			cursor: pointer;
		}
		.modal-title{
			font-size: 36px;
			line-height: 37px;
			color: $black;
			font-family: $gilroyBold;
			text-align: center;
			margin-bottom: 31px;
		}
		.modal-middle-title{
			font-size: 26px;
			line-height: 37px;
			font-family: $gilroy;
			color: $black;
			margin-bottom: 20px;
			text-align: center;
		}
		.modal-subtitle{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 31px;
			text-align: center;
			max-width: 425px;
			margin-left: auto;
			margin-right: auto;
		}
		input{
			background: #F2F7FB;
			border-radius: 100px;
			width: 378px;
			display: block;
			outline: none !important;
			box-shadow: none !important;
			margin-bottom: 20px;
			padding: 16px 25px;
			color: $black;
			font-size: 14px;
			line-height: 16px;
			font-family: $gilroy;
			margin-left: auto;
			margin-right: auto;
			border: solid 1px #F2F7FB!important;
			transition: 0.3s;
			&:focus{
				border: solid 1px #F579D3!important;
				transition: 0.3s;
			}
			&::placeholder{
				color: $black;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroy;
			}
			&:last-of-type{
				margin-bottom: 33px;
			}
		}
		.ui-selectmenu-button{
			background: #F2F7FB;
			border-radius: 100px;
			width: 378px;
			display: block;
			outline: none !important;
			box-shadow: none !important;
			margin-bottom: 20px;
			padding: 16px 25px;
			color: $black;
			font-size: 14px;
			line-height: 16px;
			font-family: $gilroy;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			border: solid 1px #F2F7FB!important;
			transition: 0.3s;
			&:focus{
				border: solid 1px #F579D3!important;
				transition: 0.3s;
			}
			.ui-selectmenu-icon{
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath d='M5.505 5.995a.7.7 0 00.99 0L10.95 1.54a.7.7 0 10-.99-.99L6 4.51 2.04.55a.7.7 0 00-.99.99l4.455 4.455zM5.3 5v.5h1.4V5H5.3z' fill='%23000'/%3E%3C/svg%3E");
				height: 7px;
				width: 12px;
				background-size: contain;
				background-position: center;
				margin-top: 5px;
			}
		}
		.review-rating{
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			margin-bottom: 20px;
			justify-content: flex-end;
			label{
				cursor: pointer;
				margin-right: 2px;
				margin-bottom: 0;
				&:first-of-type{
					margin-right: 0;
				}
				svg{
					height: 20px;
					width: auto;
					fill: #E4EBF2;
				}
				&:hover{
					svg{
						fill: #A6C8F9;
					}
				}
				&:nth-of-type(1):hover ~ label:nth-of-type(2), &:nth-of-type(1):hover ~ label:nth-of-type(3), &:nth-of-type(1):hover ~ label:nth-of-type(4), &:nth-of-type(1):hover ~ label:nth-of-type(5){
					svg{
						fill: #A6C8F9;
					}
				}
				&:nth-of-type(2):hover ~ label:nth-of-type(3), &:nth-of-type(2):hover ~ label:nth-of-type(4), &:nth-of-type(2):hover ~ label:nth-of-type(5){
					svg{
						fill: #A6C8F9;
					}
				}
				&:nth-of-type(3):hover ~ label:nth-of-type(4), &:nth-of-type(3):hover ~ label:nth-of-type(5){
					svg{
						fill: #A6C8F9;
					}
				}
				&:nth-of-type(4):hover ~ label:nth-of-type(5){
					svg{
						fill: #A6C8F9;
					}
				}
			}
			input[type="radio"]:checked+label{
				svg{
					fill: #A6C8F9;
				}
				& ~ *{
					svg{
						fill: #A6C8F9;
					}
				}
			}
		}
		textarea{
			background: #F2F7FB;
			border-radius: 14px;
			width: 378px;
			display: block;
			outline: none !important;
			box-shadow: none !important;
			margin-bottom: 20px;
			padding: 16px 25px;
			color: $black;
			font-size: 14px;
			line-height: 16px;
			font-family: $gilroy;
			margin-left: auto;
			margin-right: auto;
			resize: none;
			border: solid 1px #F2F7FB!important;
			transition: 0.3s;
			&:focus{
				border: solid 1px #F579D3!important;
				transition: 0.3s;
			}
			&::placeholder{
				color: $black;
				font-size: 14px;
				line-height: 16px;
				font-family: $gilroy;
			}
		}
		.btn-review-send{
			background: #F579D3;
			border-radius: 100px;
			width: 378px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 15px;
			color: $white;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 27px;
			cursor: pointer;
			outline: none!important;
			box-shadow: none!important;
			border: none!important;
			margin-left: auto;
			margin-right: auto;
		}
		.modal-underbtn{
			text-align: center;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			span{
				cursor: pointer;
				color: #8EB8F3;
			}
		}
	}
	&.active{
		display: flex;
	}
}

@media only screen and (max-width: 767px){
	.modal-wrap-login, .modal-wrap-reg, .modal-wrap-sign, .modal-wrap-lecture, .modal-wrap-vacancyAdd, .modal-wrap-resumeAdd, .modal-wrap-review{
		align-items: flex-start;
		.login-body, .reg-body, .sign-body, .lecture-body, .vacancyAdd-body, .resumeAdd-body, .review-body{
			padding: 58px 15px 39px;
			margin-top: 15px;
			width: 370px;
			.modal-title{
				font-size: 28px;
				line-height: 32px;
			}
			.modal-middle-title{
				font-size: 18px;
				line-height: 24px;
			}
			input{
				width: 100%;
				margin-bottom: 10px;
				&:last-of-type{
					margin-bottom: 15px;
				}
			}
			textarea, .ui-selectmenu-button{
				width: 100%;
				margin-bottom: 10px;
			}
			.btn-login-send, .btn-reg-send, .btn-sign-send, .btn-lecture-send, .btn-vacancyAdd-send, .btn-resumeAdd-send, .btn-review-send{
				width: 100%!important;
			}
		}
	}
	.modal-wrap-sign{
		.sign-body{
			.fm-form-container.fm-theme1{
				.fm-form{
					.fm-header-title{
						font-size: 28px;
						line-height: 32px;
					}
				}
			}
		}
	}
}