@import "normalize.min.css";
@import "bootstrap.min.css";
@import "slick.css";
@import "jquery-ui.min.css";
@import "jquery-ui.structure.css";
@import "jquery-ui.theme.min.css";

@font-face {
		font-family: "Gilroy-Black";
		src: url("../fonts/Gilroy-Black.eot");
		src: url("../fonts/Gilroy-Black.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Black.woff") format("woff"),
		url("../fonts/Gilroy-Black.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-BlackItalic";
		src: url("../fonts/Gilroy-BlackItalic.eot");
		src: url("../fonts/Gilroy-BlackItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-BlackItalic.woff") format("woff"),
		url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-Bold";
		src: url("../fonts/Gilroy-Bold.eot");
		src: url("../fonts/Gilroy-Bold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Bold.woff") format("woff"),
		url("../fonts/Gilroy-Bold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-BoldItalic";
		src: url("../fonts/Gilroy-BoldItalic.eot");
		src: url("../fonts/Gilroy-BoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-BoldItalic.woff") format("woff"),
		url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-ExtraBold";
		src: url("../fonts/Gilroy-ExtraBold.eot");
		src: url("../fonts/Gilroy-ExtraBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
		url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-ExtraBoldItalic";
		src: url("../fonts/Gilroy-ExtraBoldItalic.eot");
		src: url("../fonts/Gilroy-ExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"),
		url("../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-Heavy";
		src: url("../fonts/Gilroy-Heavy.eot");
		src: url("../fonts/Gilroy-Heavy.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Heavy.woff") format("woff"),
		url("../fonts/Gilroy-Heavy.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-Light";
		src: url("../fonts/Gilroy-Light.eot");
		src: url("../fonts/Gilroy-Light.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Light.woff") format("woff"),
		url("../fonts/Gilroy-Light.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-LightItalic";
		src: url("../fonts/Gilroy-LightItalic.eot");
		src: url("../fonts/Gilroy-LightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-LightItalic.woff") format("woff"),
		url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-Medium";
		src: url("../fonts/Gilroy-Medium.eot");
		src: url("../fonts/Gilroy-Medium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Medium.woff") format("woff"),
		url("../fonts/Gilroy-Medium.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-MediumItalic";
		src: url("../fonts/Gilroy-MediumItalic.eot");
		src: url("../fonts/Gilroy-MediumItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-MediumItalic.woff") format("woff"),
		url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-Regular";
		src: url("../fonts/Gilroy-Regular.eot");
		src: url("../fonts/Gilroy-Regular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Regular.woff") format("woff"),
		url("../fonts/Gilroy-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-RegularItalic";
		src: url("../fonts/Gilroy-RegularItalic.eot");
		src: url("../fonts/Gilroy-RegularItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-RegularItalic.woff") format("woff"),
		url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-SemiBold";
		src: url("../fonts/Gilroy-SemiBold.eot");
		src: url("../fonts/Gilroy-SemiBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-SemiBold.woff") format("woff"),
		url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-SemiBoldItalic";
		src: url("../fonts/Gilroy-SemiBoldItalic.eot");
		src: url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"),
		url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-Thin";
		src: url("../fonts/Gilroy-Thin.eot");
		src: url("../fonts/Gilroy-Thin.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-Thin.woff") format("woff"),
		url("../fonts/Gilroy-Thin.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-ThinItalic";
		src: url("../fonts/Gilroy-ThinItalic.eot");
		src: url("../fonts/Gilroy-ThinItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-ThinItalic.woff") format("woff"),
		url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-UltraLight";
		src: url("../fonts/Gilroy-UltraLight.eot");
		src: url("../fonts/Gilroy-UltraLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-UltraLight.woff") format("woff"),
		url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
		font-family: "Gilroy-UltraLightItalic";
		src: url("../fonts/Gilroy-UltraLightItalic.eot");
		src: url("../fonts/Gilroy-UltraLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"),
		url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Light'), local('Comfortaa-Light'), url('../fonts/comfortaalight.woff2') format('woff2'), url('../fonts/comfortaalight.woff') format('woff'), url('../fonts/comfortaalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('../fonts/comfortaa.woff2') format('woff2'), url('../fonts/comfortaa.woff') format('woff'), url('../fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('../fonts/comfortaabold.woff2') format('woff2'), url('../fonts/comfortaabold.woff') format('woff'), url('../fonts/comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$gilroyBlack: "Gilroy-Black", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyBlackItalic: "Gilroy-BlackItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyBold: "Gilroy-Bold", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyBoldItalic: "Gilroy-BoldItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyExtraBold: "Gilroy-ExtraBold", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyExtraBoldItalic: "Gilroy-ExtraBoldItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyHeavy: "Gilroy-Heavy", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyLight: "Gilroy-Light", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyLightItalic: "Gilroy-LightItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyMedium: "Gilroy-Medium", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyMediumItalic: "Gilroy-MediumItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroy: "Gilroy-Regular", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyItalic: "Gilroy-RegularItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroySemiBold: "Gilroy-SemiBold", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroySemiBoldItalic: "Gilroy-SemiBoldItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyThin: "Gilroy-Thin", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyThinItalic: "Gilroy-ThinItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyUltraLight: "Gilroy-UltraLight", Arial, Helvetica Neue, Helvetica, sans-serif;
$gilroyUltraLightItalic: "Gilroy-UltraLightItalic", Arial, Helvetica Neue, Helvetica, sans-serif;
$comfortaa: "Comfortaa", Arial, Helvetica Neue, Helvetica, sans-serif;

$black: #000000;
$white: #ffffff;

@mixin box-shadow{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

*{
	margin: 0;
	padding: 0;
}

button, input, textarea, select{
	&:active, &:focus, &:hover, &.form-control, &.navbar-toggler{
		outline: none!important ;
	}
}

html, body{
	width: 100%;
	font-family: $gilroy;
}

body{
	padding-top: 176px;
}

body{
	&.noscroll{
		overflow: hidden;
	}
}

.block-courses{
	&-inner{
		background: linear-gradient(138.45deg, #FFB8D7 4.6%, #6CA9FF 280.25%);
		padding: 40px 0;
		width: 100%;
		.bci-content-item{
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			display: block;
			text-decoration: none!important;
			.bci-ci-date{
				text-align: center;
				font-family: $gilroy;
				font-size: 20px;
				line-height: 27px;
				color: rgba(255, 255, 255, 0.72);
				margin-bottom: 16px;
			}
			.bci-ci-title{
				font-family: $gilroyBold;
				text-align: center;
				font-size: 36px;
				line-height: 37px;
				color: $white;
			}
			.bci-ci-info{
				text-align: center;
				color: $white;
				font-family: $gilroy;
				font-size: 20px;
				line-height: 27px;
				margin-bottom: 27px;
			}
		}
		.slick-dots{
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;
			margin: 0;
			line-height: 8px;
			li{
				line-height: 8px;
				margin-right: 7px;
				&:last-of-type{
					margin-right: 0;
				}
				button{
					color: rgba(0,0,0,0);
					background: none;
					outline: none !important;
					box-shadow: none !important;
					border: none !important;
					background: #FFFFFF;
					opacity: 0.8;
					border-radius: 50%;
					height: 8px;
					width: 8px;
				}
				&.slick-active{
					button{
						border-radius: 100px;
						width: 47px;
						opacity: 1;
					}
				}
			}
		}
	}
}

.ui-selectmenu-menu{
	.ui-menu-item{
		.ui-menu-item-wrapper{
			box-shadow: none !important;
			outline: none !important;
			border: none !important;
			background: none !important;
			color: $black;
			font-size: 16px;
			line-height: 19px;
			font-family: $gilroy;
			padding: 5px 10px;
			&.ui-state-active{
				margin: 0;
				font-family: $gilroyBold;
			}
		}
	}
}

.block-teacher{
	padding-bottom: 80px;
	overflow: hidden;
	.container{
		position: relative;
	}
	h2{
		color: $black;
		font-family: $gilroyBold;
		font-size: 44px;
		line-height: 64px;
		margin-bottom: 60px;
	}
	.teacher-more{
		position: absolute;
		top: 27px;
		right: 15px;
		display: flex;
		align-items: center;
		font-family: $gilroyBold;
		font-size: 16px;
		line-height: 19px;
		color: #73A7F0;
		text-decoration: none !important;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		svg{
			height: 19px;
			width: 19px;
			margin-left: 9px;
			display: block;
		}
	}
	figure{
		position: relative;
		overflow: hidden;
		padding-bottom:100%;
		width: 100%;
		border-radius: 4px;
		margin: 0 0 16px;
		img{
			position:absolute;
		}
		a{
			display: block;
			position: absolute;
			right: 20px;
			svg{
				height: 38px;
				width: 38px;
			}
			&.bt-fb{
				top: 20px;
			}
			&.bt-ig{
				top: 74px;
				height: 38px;
				width: 38px;
				background: #A9BAFF;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				svg{
					width: 18px;
					height: 16.42px;
				}
			}
		}
	}
	.name{
		font-size: 22px;
		line-height: 29px;
		font-family: $gilroyBold;
		margin-bottom: 5px;
		color: #3D444B;
		text-decoration: none!important;
	}
	.position{
		font-size: 16px;
		line-height: 24px;
		font-family: $gilroy;
		color: #3E4349;
		margin: 0;
	}
	.slick-list{
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-6{
		outline: none!important;
		border: none!important;
		box-shadow: none;
		text-decoration: none!important;
		transition: 0.3s;
		margin-bottom: 5px;
		margin-top: 5px;
		padding-top: 15px;
		padding-bottom: 15px;
		&:hover{
			transition: 0.3s;
			box-shadow: 0 0 5px rgba(0,0,0,.25);
		}
	}
}

.block-who{
	background: #F1F7FF;
	padding-top: 78px;
	padding-bottom: 87px;
	h2{
		color: $black;
		font-family: $gilroyBold;
		font-size: 44px;
		line-height: 64px;
		margin-bottom: 60px;
	}
	.who-slider-text{
		margin-bottom: 44px;
	}
	.who-text{
		outline: none !important;
		box-shadow: none !important;
		border: none !important;
		.title{
			font-size: 22px;
			line-height: 22px;
			color: $black;
			font-family: $gilroyBold;
			margin-bottom: 18px;
		}
		.text{
			font-size: 16px;
			line-height: 24px;
			color: $black;
			font-family: $gilroy;
			margin: 0;
		}
	}
	.who-slider-img{
		position: relative;
		margin-top: 72px;
		.slick-prev{
			position: absolute;
			background: rgba(0,0,0,0);
			background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
			color: rgba(0,0,0,0);
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
			height: 37px;
			width: 37px;
			cursor: pointer;
			top: -72px;
			transform: translateX(-50%);
			left: calc(50% - 26px);
		}
		.slick-next{
			position: absolute;
			background: rgba(0,0,0,0);
			background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
			color: rgba(0,0,0,0);
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
			height: 37px;
			width: 37px;
			cursor: pointer;
			top: -72px;
			left: calc(50% + 26px);
			transform: translateX(-50%);
		}
		.slick-prev, .slick-next{
			&.slick-disabled{
				opacity: .27;
			}
		}
		figure{
			margin: 0;
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			img{
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
			}
		}
	}
	.btn-who{
		background: #F579D3;
		border-radius: 100px;
		outline: none !important;
		box-shadow: none !important;
		border: none !important;
		cursor: pointer;
		color: $white;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		padding: 14px 64px;
		margin: 0;
		transition: 0.3s;
		&:hover{
			background: #f3afd4;
			transition: 0.3s;
		}
	}
}

.block-map{
	padding-top: 165px;
	padding-bottom: 60px;
	position: relative;
	iframe{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.block-map-inner{
		padding: 45px 65px;
		background: $white;
		h2{
			font-size: 32px;
			line-height: 64px;
			font-family: $gilroyBold;
			color: $black;
			margin-bottom: 21px;
		}
		.city{
			font-size: 18px;
			line-height: 26px;
			font-family: $gilroyBold;
			color: $black;
			margin-bottom: 0;
		}
		.location{
			font-size: 16px;
			line-height: 26px;
			color: $black;
			font-family: $gilroy;
			margin-bottom: 12px;
		}
		.phone{
			margin-bottom: 0;
			font-size: 16px;
			line-height: 33px;
			margin-bottom: 0;
			a{
				text-decoration: none !important;
				color: $black !important;
			}
		}
		.mail{
			margin-bottom: 0;
			font-size: 16px;
			line-height: 33px;
			margin-bottom: 30px;
			a{
				text-decoration: none !important;
				color: $black !important;
			}
		}
		.soc-row{
			display: flex;
			align-items: center;
			.soc-title{
				font-size: 20px;
				line-height: 29px;
				color: $black;
				font-family: $gilroyBold;
				margin-right: 28px;
				margin-bottom: 0;
			}
			a{
				display: block;
				margin-right: 16px;
				svg{
					height: 35px;
					width: 35px;
					display: block;
				}
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.block-teacher{
		.name{
			font-size: 20px;
			line-height: 29px;
		}
		.position{
			font-size: 16px;
			line-height: 24px;
		}
	}
}

@media only screen and (max-width: 767px){
	body{
		padding-top: 80px;
	}
	.block-courses{
		&-inner{
			padding: 30px 0;
			.bci-content-item{
				.bci-ci-date{
					font-size: 16px;
					line-height: 27px;
					margin-bottom: 9px;
				}
				.bci-ci-title{
					font-size: 28px;
					line-height: 33px;
				}
				.bci-ci-info{
					font-size: 16px;
					line-height: 27px;
					margin-bottom: 19px;
				}
			}
		}
	}
	.block-teacher{
		padding-bottom: 84px;
		h2{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		.teacher-more{
			position: relative;
			top: 0;
			right: 0;
			margin-top: 40px;
		}
		.row{
			width: 180vw;
		}
	}
	.block-who{
		padding-top: 68px;
		padding-bottom: 50px;
		h2{
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		.who-slider-text{
			position: relative;
			.slick-prev{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M5.6 17.626L19.253 5.778a.58.58 0 01.379-.141h3.198c.267 0 .39.332.188.506L10.363 17.127h21.145c.159 0 .289.13.289.289v2.168a.29.29 0 01-.29.289h-21.14L23.02 30.857a.287.287 0 01-.188.506h-3.306a.278.278 0 01-.188-.072L5.601 19.374a1.159 1.159 0 010-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -72px;
				right: 63px;
			}
			.slick-next{
				position: absolute;
				background: rgba(0,0,0,0);
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cpath d='M31.4 17.626L17.747 5.778a.58.58 0 00-.379-.141h-3.198a.288.288 0 00-.188.506l12.654 10.984H5.492a.29.29 0 00-.289.289v2.168c0 .159.13.289.29.289h21.14L13.98 30.857a.287.287 0 00.188.506h3.306a.278.278 0 00.188-.072l13.737-11.917a1.158 1.158 0 000-1.748z' fill='%23000'/%3E%3C/svg%3E");
				color: rgba(0,0,0,0);
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				height: 37px;
				width: 37px;
				cursor: pointer;
				top: -72px;
				right: 0;
			}
			.slick-prev, .slick-next{
				&.slick-disabled{
					opacity: .27;
				}
			}
		}
		.who-slider-img{
			margin-top: 46px;
			.slick-dots{
				display: flex;
				align-items: center;
				justify-content: center;
				list-style: none;
				color: rgba(0,0,0,0);
				li{
					margin-right: 7px;
					&:last-of-type{
						margin-right: 0;
					}
					&.slick-active{
						button{
							width: 22px;
							background: #F579D3!important;
							border-radius: 100px;
							opacity: 1;
						}
					}
				}
				button{
					outline: none !important;
					box-shadow: none !important;
					border: none !important;
					color: rgba(0,0,0,0);
					height: 8px;
					width: 8px;
					background: rgba(245, 121, 211, 0.62)!important;
					opacity: 0.8;
					border-radius: 50%;
					font-size: 0;
				}
			}
		}
		.who-text{
			.title{
				font-size: 18px;
				line-height: 22px;
			}
			.text{
				font-size: 14px;
				line-height: 21px;
			}
		}
	}
	.block-map{
		padding-top: 60px;
		padding-bottom: 357px;
		.block-map-inner{
			padding: 39px 15px 39px 32px;
			h2{
				margin-bottom: 34px;
				font-size: 28px;
				line-height: 32px;
			}
			.phone, .mail{
				font-size: 14px;
				line-height: 33px;
			}
		}
	}
}